[2016-08-25 23:00] pixelzoom opened #1 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-25 23:03] pixelzoom commented on #1
Note that this sim may have other Panel issues, but it failed for some other reason on startup with this assertion:

![screenshot_89](https://cloud.githubusercontent.com/assets/3046552/17988778/c63c88b4-6ae5-11e6-9c06-bc859cbbe459.png)

[2016-08-25 23:04] pixelzoom commented on #1
This was also printed to console at startup:

[code]

[2016-08-25 23:07] phet-steele commented on #1
@pixelzoom this report might be better off in the circuit-construction-kit-common repo (but not my call). Additionally, the error in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/1#issuecomment-242572636 is reported here: phetsims/circuit-construction-kit-common/issues/211

[2016-08-25 23:10] pixelzoom commented on #1
circuit-construction-kit-common isn't a runnable, and I can't tell which repo contains the offending code from the stack trace.  So I'm creating this (and related) issues only for runnables. It's up to the sim owner to sort it out.

[2016-08-26 14:26] pixelzoom commented on #1
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:26] #1 closed

[2016-09-16 00:39] pixelzoom opened #2 "sim fails test-server"
Sha @11067003c150b64a18babdd8e534b9076b60c166.

[code]

[2016-09-16 22:21] samreid opened #3 "Labels required"
@mattpen can you please give this repo the standard labels?

[2016-09-17 02:15] mattpen commented on #3
The labels have been applied

[2016-09-17 02:15] #3 closed

[2016-09-19 01:47] samreid commented on #2
I'll work on this when I resume work on CCK, unassigning.

[2016-09-19 17:48] arouinfar opened #4 "Rename Black Box scenes"
Shima reported

[2016-09-19 17:49] arouinfar commented on #4
It's not clear if she'd prefer Test Circuit/Test Answer or Explore/Test. I will follow up with her and report back.

[2016-09-19 17:58] arouinfar opened #5 "Cannot disconnect light bulb from black box terminal"
Shima reported

I also experienced this issue in dev.23. When clicking on the center of node, the light bulb is selected, rather than the node.  I think the problem is that the click area for light bulb is something like this, which cuts quite a bit into the side node.
![image](https://cloud.githubusercontent.com/assets/8419308/18642958/1be2a9be-7e60-11e6-9681-0dd83b622208.png)

@samreid can you a

[2016-09-19 18:05] arouinfar opened #6 "Display infinity symbol or large constant in current meter when shorted"
Shima reported

For the purposes of this study, the exact numerical value of the current in a shorted wire is not relevant and appears to be a blocking issue.

I'm personally hesitant to display an infinity symbol or 10^10, as neither is all that accurate. Perhaps it would be better to show something along the lines of ">10^5", as it deemphasizes the numerical value while still displaying a large

[2016-09-19 18:06] arouinfar opened #7 "Change color of reveal button on hold"
Shima reported

I like this suggestion @samreid, though I don't have any particular color preference. Maybe a green would look nice?

[2016-09-19 18:09] arouinfar opened #8 "Show values during Reveal"
Shima Reported:

This sounds like a very helpful feature. @samreid can you display the values (resistances of resistors and battery voltage) upon reveal?

[2016-09-19 18:13] arouinfar opened #9 "Prevent elements overlapping black box boundary when "snapping""
Shima reported:

@samreid is it possible to slightly push elements away from boundary of the black box when snapping? For example a wire released above or below the black box, could snap into the black box like this, rather than overlapping the top/bottom border of the box.
![image](https://cloud.githubusercontent.com/assets/8419308/18643432/48162f22-7e62-11e6-9718-108865851124.png)

[2016-09-19 18:20] arouinfar opened #10 "Cannot reattach resistor after severing connection"
Shima reported:

This sounds like a bug, but I haven't been able to reproduce it. I'll follow up with Shima for more details.

[2016-09-27 18:34] arouinfar commented on #10
Shima reported that she's only encountered this bug once. She's going to try to reproduce the issue, and she'll let us know what happens.

[2016-09-27 18:35] arouinfar commented on #4
Just heard back from Shima, and she prefers to use "Explore" and "Test" for the scene names.

[2016-11-04 04:54] samreid opened #11 "A day with CCK"
@kathy-phet said Shima wants to start doing interviews in mid/late November.  Some small bugs should be fixed before usage.  Would be nice to record the data stream, bonus if we can record the playback as well.  Bugfixes are more important, though.

I'm hoping to get to this by end of Tuesday Nov 8.

[2016-11-08 16:22] samreid opened #12 "Prepare for data collection studies"
From https://github.com/phetsims/circuit-construction-kit-common/issues/209

* Build a simple wrapper (e.g. a blank wrapper with a fixed iframe size for the time being, except for entering 1-2 identifiers of sorts so Shima can associate with students ... we will need to know what they want here).
* log to Stanford's Metacog account
* Give Shima (and Engin?) a version they can test.

[2016-11-08 16:26] arouinfar commented on #10
Shima was unable to reproduce this behavior.

[2016-11-08 16:27] samreid commented on #4
Renamed in the above commit, marking as ready for testing in next version.

[2016-11-08 17:46] samreid commented on #5
Mouse and touch area set to the T shape described above:

![image](https://cloud.githubusercontent.com/assets/679486/20110181/8d5b3eaa-a5a0-11e6-9c62-885ee11abd1c.png)

Ready for review in next version.

[2016-11-08 17:57] samreid commented on #6
Here's an example of a shorted circuit:

![image](https://cloud.githubusercontent.com/assets/679486/20110436/9957d942-a5a1-11e6-8f5a-03f2beae7948.png)

Scientific notation would be confusing to some students, and they may infer meaning from the exact value, wondering why it is 10^10 and not 10^9, for instance.  What if we replace this with the text "lots of current".

@arouinfar is she referring t

[2016-11-08 17:59] samreid commented on #6
The description says "in current meter".

[2016-11-08 17:59] samreid commented on #6
@arouinfar do we also need to do this for the voltmeter?

[2016-11-08 18:05] samreid commented on #6
I used "lots of current", it looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/20110850/388a75aa-a5a3-11e6-9f79-cd92f50b4ac5.png)

[2016-11-08 18:17] samreid commented on #7
I went with a light green and it seemed OK.

[2016-11-08 18:21] arouinfar commented on #6
@samreid Shima didn't mention the voltmeter, so I don't think you need to do anything there.

I don't think scientific notation is likely to cause confusion, as it was Shima's request, and she would know her audience.

To me "lots of current" is something we would use for a middle school sim and doesn't seem appropriate here (to me, at least). We can leave it for now, and see what Shima thinks.

[2016-11-08 18:23] samreid commented on #6
I'd be happier with ">10^5" than just "10^10".  But do you know why she started so high?  I'm seeing shorted circuits weighing in around 10^5 instead of 10^10.  Or what about ">100,000"?

[2016-11-08 18:27] samreid commented on #6
In the above commit, I changed it to `> 10^5`.

[2016-11-08 18:28] arouinfar commented on #6
I think she wanted something really big, which is why she suggested "10^10" or the infinity symbol.

I tested a few shorted circuits and everything was on the order of 10^5, which is why I suggested ">10^5". I think this still satisfies something "really big" while being a bit more accurate.

@samreid let's not make any further changes, as I suspect the string itself can be easily edited later on.

[2016-11-08 18:29] arouinfar commented on #6
For the record ">100,000" also seems like a good option. We can present that as an alternative if Shima has any concerns.

[2016-11-08 18:30] samreid commented on #6
The text size jumps quite a bit going from a large string to "> 10E5".  ">100,000" wouldn't suffer from this problem.  But I'm fine to change it now or wait until we hear from Shima.

[2016-11-08 18:33] arouinfar commented on #6
@samreid let's stick with ">10^5" and wait for Shima's response.

[2016-11-08 18:33] samreid commented on #8
This would likely take > 10 times as long to implement as any of the other features I have worked on so far.  I'll save it for later.

[2016-11-08 18:39] samreid commented on #9
Fixed above.  This will require some testing in case other features were depending on the boundary being right at the edge of the box.

@arouinfar will you have time to test this today, if I publish a version around 4pm or so?

[2016-11-08 18:45] arouinfar commented on #6
@samreid I cannot unassign myself. I don't think I'm properly added to this repo, because I cannot add labels or assignees.

[2016-11-08 18:46] samreid commented on #11
CCK day is well underway.  I've addressed several of the open issues.  The last 2 issues are more complicated.  I'll try to tackle one after lunch.  All remaining work addressed in other issues, so closing this one.

[2016-11-08 18:46] #11 closed

[2016-11-08 18:46] arouinfar commented on #9
I will indeed @samreid.

[2016-11-08 18:48] samreid commented on #6
I granted you "write" permission, can you please try again?

[2016-11-08 18:49] arouinfar commented on #6
Thanks @samreid!

[2016-11-08 18:50] samreid commented on #8
It may be simplest (regarding bounds and layout) if we can overlay the values on the components, with a white background and black text (so the text is sure to show).  If we show the values away from the components it could be overlapped by something else, and may throw off the display bounds.

@arouinfar does that sound reasonable to you?

[2016-11-08 18:51] arouinfar commented on #8
Sounds reasonable to me @samreid!

[2016-11-08 18:51] samreid commented on #12
It seems a Record wrapper with Login page would work here.  We can turn on ?emitInputEvents to try to capture playback.

[2016-11-08 19:59] samreid commented on #8
If the values rotate with the components, then they could be sideways or upside down.

[2016-11-08 20:01] arouinfar commented on #8
I think that would still be acceptable @samreid. At most, students are reading 4 values when revealing the contents of the black.

[2016-11-08 20:17] samreid commented on #8
The values are somewhat hard to read because they are already behind a layer of transparency.

[2016-11-08 20:18] samreid commented on #8
Fixed in the above 2 commits.

[2016-11-08 20:30] samreid opened #13 "Background should be gray when paused"
See https://github.com/phetsims/circuit-construction-kit-common/issues/213

[2016-11-08 20:30] samreid opened #14 "When switching modes and the simulation pauses, the "animation speed reduced" still shows."
See https://github.com/phetsims/circuit-construction-kit-common/issues/212

[2016-11-08 20:32] samreid commented on #13
When running with ?showPlayPauseButton the background should be a different color (gray was suggested) to indicate the simulation is paused. If we go with gray, we will need to choose a shade that doesn't blend too much with the junction colors.

[2016-11-08 20:36] samreid commented on #13
I went with the color literal 'gray' and it was dark enough not to conflict with the vertices.  @arouinfar does this seem OK?

![image](https://cloud.githubusercontent.com/assets/679486/20116126/4ece851c-a5b8-11e6-80f9-cc0c651670d3.png)

[2016-11-08 20:37] arouinfar commented on #13
Seems okay to me @samreid!

[2016-11-08 20:38] samreid opened #15 "Electrons do not move when running with ?showPlayPauseButton and play is pressed"

[2016-11-08 20:40] samreid commented on #14
During today's meeting, @arouinfar switched from "build" to "investigate" while the "animation speed reduced message was showing. The simulation was running with ?showPlayPauseButton and when the mode changed the simulation paused. Then in "investigate" mode, the "animation speed reduced" message was still showing.

[2016-11-08 20:58] samreid opened #16 "In ?showPlayPauseButton, when changing the circuit, it should automatically pause"
This feature looks like it was inadvertently dropped during recent refactoring.

[2016-11-08 21:06] samreid commented on #14
Translation: using ?screens=2&showPlayPauseButton

1) Switch to "test"
2) make the animation speed reduced message appear
3) switch to "explore"

the "animation speed reduced" message still appears, but it shouldn't

[2016-11-08 21:09] samreid commented on #14
There is a hysteresis in the display message, and after the model slows down, it takes several time steps for the message to catch up.  Is that what we are seeing here?  I am seeing that the message disappears after the model has been unpaused for several frames.  @arouinfar is that acceptable?

[2016-11-08 21:09] samreid commented on #15
I fixed this in prior commits.

[2016-11-08 21:10] samreid commented on #14
Ah, I see, it should automatically pause due to #16, which is broken at the moment.

[2016-11-08 21:15] samreid commented on #14
Perhaps a simple solution would be to hide the message if the sim is paused.  There could still be a temporary hysteresis effect when unpaused, but the message would disappear when switching modes.

[2016-11-08 21:28] samreid commented on #14
Fixed in the above commit, and clear the history so it won't show up incorrectly for several frames.

[2016-11-08 21:30] arouinfar commented on #14
That sounds like a reasonable solution to me @samreid.

[2016-11-08 21:32] samreid commented on #12
Here's a URL that can be used for recording:
http://localhost/phet-io/wrappers/record/record.html?sim=circuit-construction-kit-black-box-study&metacog&publisher_id=29da48a1&application_id=1f6fc35021bb7d398308c73123802036&widget_id=record-circuit-construction-kit-black-box-study

We need a login wrapper next.

[2016-11-08 21:34] samreid commented on #12
Login wrapper:

http://localhost/phet-io/wrappers/login/login.html?wrapper=record&sim=circuit-construction-kit-black-box-study&metacog&publisher_id=29da48a1&application_id=1f6fc35021bb7d398308c73123802036&widget_id=record-circuit-construction-kit-black-box-study&validationRule=crossCheckID&validationPrefix=cck16

[2016-11-08 21:41] samreid commented on #12
Login IDs will be:

cck16001a
cck16002b
...
cck16026z
cck16027a
cck16028b
etc.

[2016-11-08 21:42] samreid commented on #12
Let's use cck16999k as a test ID.

[2016-11-08 21:44] samreid commented on #12
I recorded a 2 minute sample session with the above credentials.  After 30 minutes, we should try to access the data.  Even better would be to play it back.

[2016-11-08 22:08] samreid commented on #12
I published here:

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.4-phetiorc.1/wrappers/index/

Hence the login URL would be:

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.4-phetiorc.1/wrappers/login/login.html?wrapper=record&sim=circuit-construction-kit-black-box-study&metacog&publisher_id=29da48a1&applicati

[2016-11-08 22:14] samreid opened #17 "RC Testing for 1.0.4-phetiorc.1"
I fixed many issues (labeled with `fixed-pending-testing`) and this simulation needs to be RC tested before given to Stanford.  I have personally tested all of the `fixed-pending-testing` features, but all of the issues will benefit independent verification.  Also, the simulation underwent a bit of turbulence a few weeks ago, and we should test through and make sure the standard features are stabl

[2016-11-08 22:16] samreid commented on #17
I assigned issues to @arouinfar for testing.  I'll address testing #12 since it requires launching a playback wrapper which is still under development.

[2016-11-08 22:18] samreid commented on #12
OK I used `node request-data.js` to request the data for my run above.

[2016-11-08 22:36] samreid commented on #12
Wow. Playback is working like a charm.  The only problem is that everything is happening twice.  Probably Sim.js isn't putting it in playback mode or something.

[2016-11-08 22:43] samreid commented on #12
On hold until #838 is closed.

[2016-11-08 22:50] samreid commented on #12
Fixed, closing.

[2016-11-08 22:50] #12 closed

[2016-11-09 00:36] arouinfar commented on #17
@samreid is this the correct testing link?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.4-phetiorc.1/circuit-construction-kit-black-box-study_en-phetio.html

It's not loading for me, even when using the VPN. The PhET-io logo appears briefly, but then the screen becomes black.

[2016-11-09 01:24] samreid commented on #17
My apologies, I meant to link to this comment but I forgot:

https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/12#issuecomment-259275126

It shows that the simulation is published here.

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.4-phetiorc.1/wrappers/index/

It is a phet-io simulation so cannot be launched without a wrapper

[2016-11-09 01:26] arouinfar commented on #17
Got it @samreid. Thanks! I'll be testing this evening.

[2016-11-09 01:37] arouinfar commented on #17
@samreid I'm being asked for login credentials. Can you email them to me?

<img width="374" alt="screen shot 2016-11-08 at 6 33 58 pm" src="https://cloud.githubusercontent.com/assets/8419308/20124207/f3cf46b8-a5e1-11e6-84a1-48c297b56bb8.png">

[2016-11-09 01:48] samreid commented on #17
I emailed @arouinfar.

[2016-11-09 04:09] arouinfar commented on #4
👍

[2016-11-09 04:09] #4 closed

[2016-11-09 04:13] arouinfar commented on #6
@samreid I'm not seeing ">10^5" for a shorted circuit.
<img width="181" alt="screen shot 2016-11-08 at 9 10 49 pm" src="https://cloud.githubusercontent.com/assets/8419308/20127024/e7e7f2da-a5f7-11e6-8ab5-8fbb676e60e9.png">

[2016-11-09 04:14] arouinfar commented on #7
Looks good!

[2016-11-09 04:14] #7 closed

[2016-11-09 04:24] arouinfar commented on #5
Something's not right here @samreid.
![light_bulb](https://cloud.githubusercontent.com/assets/8419308/20127189/9d48abb4-a5f9-11e6-858e-e54af9af8646.gif)

[2016-11-09 04:34] samreid commented on #6
The value shown in the ammeter is `1.601753 * 10^4` and hence is not larger than `10^5`.  Do you want to reduce the threshold?

[2016-11-09 04:35] samreid commented on #5
The preceding comment seems to be unrelated to the touch areas, I'll move it to a separate issue.

[2016-11-09 04:37] samreid opened #18 "Buggy behavior when detaching a light bulb from the black box"
From https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/5#issuecomment-259331415

 Something's not right here @samreid.
![light_bulb](https://cloud.githubusercontent.com/assets/8419308/20127189/9d48abb4-a5f9-11e6-858e-e54af9af8646.gif)

[2016-11-09 04:50] samreid commented on #18
The same problem does not appear for resistors or batteries, or for the light bulb's other terminal.  If the mouse is not over the light bulb when releasing, then the behavior is correct.  So there is some listener getting an event when over the light bulb that is interfering.

[2016-11-09 05:00] samreid commented on #18
If I click on the cut button outside of the light bulb region, it shows as depressed.  If I click on the cut button where it overlays the light bulb region, it does not show as depressed.  Somehow the light bulb instead of the cut button is getting the event, even though the cut button is in front.

[2016-11-09 05:09] samreid commented on #18
This problem is not new, it is also present in the last version we delivered to Shima:

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.0-dev.23/circuit-construction-kit-black-box-study_en.html

[2016-11-09 05:17] arouinfar commented on #5
The click area seems fine, otherwise. Closing.

[2016-11-09 05:17] #5 closed

[2016-11-09 05:18] arouinfar commented on #8
Looks great @samreid!

[2016-11-09 05:18] #8 closed

[2016-11-09 05:19] arouinfar commented on #13
👍

[2016-11-09 05:20] samreid commented on #18
If I setPickable: false on CCKLightBulbForegroundNode then the problem disappears.  What is CCKLightBulbForegroundNode?  Will setPickable on it cause other problems?

[2016-11-09 05:20] arouinfar commented on #14
Looks good!

[2016-11-09 05:20] #14 closed

[2016-11-09 05:22] arouinfar commented on #15
👍

[2016-11-09 05:22] #15 closed

[2016-11-09 05:25] samreid commented on #18
Here's the issue that introduced the foreground: https://github.com/phetsims/circuit-construction-kit-common/issues/188

Apparently it is for showing the electrons in the correct z-order

[2016-11-09 05:26] arouinfar commented on #6
Shima wants to avoid showing a precise number when shorted, so I think it's best if we go with ">10^4" instead @samreid.

[2016-11-09 05:30] samreid commented on #18
In the above commit, the bulb foreground was set to be not pickable, so the behavior in the issue description no longer happens.  However, if clicking on the black box node and then another part of the light bulb, it still shows the same buggy behavior.

[2016-11-09 05:34] arouinfar commented on #16
While in play mode, I tried changing the circuit a few different ways -- increasing R, increasing V, cutting a node, deleting an element. They all trigger a pause, but after deleting an element the background color remains blue until one of the elements is clicked in the toolbox. All other methods of changing the circuit behave properly.

Likely related to #13, which I'll reopen.

[2016-11-09 05:35] samreid commented on #6
I reduced the threshold in the above commit, it will be ready for review in the next version.

[2016-11-09 05:36] arouinfar commented on #13
As reported in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/16#issuecomment-259337320, deleting a circuit component while in play mode will trigger the pause (as it should), but the background color remains blue.

[2016-11-09 05:38] arouinfar commented on #9
This seems to be working so far @samreid. However, I want test a bit more thoroughly tomorrow morning.

[2016-11-09 05:39] arouinfar commented on #6
Excellent! Thanks @samreid.

[2016-11-09 05:40] arouinfar commented on #17
I'm finished testing for tonight @samreid. I'll test more thoroughly tomorrow morning.

[2016-11-09 17:00] samreid commented on #18
The simplest way to reproduce the problem:

1. Go to 2nd screen
2. Attach bulb to black box
3. Drag other vertex

[2016-11-09 18:38] samreid commented on #18
Fixed above, will be ready for review in next version.

[2016-11-09 18:46] samreid commented on #16
I'm seeing the screen turn from blue to gray when a component is deleted, can you please provide more information about how to reproduce the problem?  Here's what I observed:

![delete](https://cloud.githubusercontent.com/assets/679486/20150212/e4166432-a671-11e6-9cd6-137d278e38f4.gif)

[2016-11-09 18:47] samreid commented on #13
Let's pursue the problematic behavior in #16, closing.

[2016-11-09 18:47] #13 closed

[2016-11-09 18:50] arouinfar commented on #16
Try building a circuit first, then deleting one of the components @samreid.

[2016-11-09 19:00] arouinfar commented on #16
Here's a screencast @samreid.
![pause](https://cloud.githubusercontent.com/assets/8419308/20150623/07fb9898-a674-11e6-9cf2-a8c7a34335d5.gif)

[2016-11-09 19:06] samreid commented on #16
Thanks @arouinfar, this is ready for verification after the above commits.

[2016-11-09 19:08] samreid commented on #2
Shortest path to this exception: ?screens=1, drag out a battery, click the battery once, click the battery again.

[2016-11-09 19:09] samreid commented on #2
The function that failed to be removed is:

[code]

[2016-11-09 19:10] arouinfar commented on #9
Still looks good! Closing.

[2016-11-09 19:10] #9 closed

[2016-11-09 19:10] arouinfar commented on #17
@samreid back to you. No new issues to report.

[2016-11-09 19:10] #17 closed

[2016-11-09 19:11] samreid commented on #2
@arouinfar I'm going to take a look at this issue and see if I can address it before giving you a new version.

[2016-11-09 19:14] samreid commented on #2
There is a PushButtonInteractionStateProperty that is still listening during disposal.

[2016-11-09 19:17] arouinfar commented on #2
Sounds good @samreid! Thanks for the update.

[2016-11-09 19:20] arouinfar commented on #10
I failed again to reproduce this while testing. Given the lack of reproducibility and that deleting the problematic component resolves the situation, I'm not sure that there's anything that needs to be done here @samreid.

[2016-11-09 19:26] samreid commented on #2
This is being caused (at least in part) by https://github.com/phetsims/sun/issues/212.

[2016-11-09 19:42] samreid commented on #10
Sounds good, let's reopen if we see the problem again.

[2016-11-09 19:42] #10 closed

[2016-11-09 19:42] samreid commented on #2
What a mess, this will take a lot of work.

[2016-11-09 19:43] andrewadare commented on #2
@samreid Is there anything I need to do for this, in other words is it something I caused by adding disposePanel() in Panel.js?

[2016-11-09 19:43] samreid opened #19 "RC Testing for 1.0.4-rc.2"
I published a new version here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.4-phetiorc.2/wrappers/index/

@arouinfar can you please test the open issues that are pending testing, and take it for a larger test drive to make sure nothing is disturbed?  If all seems well, we could publish a production version for Shima.

EDIT: Changed "give this to Shima

[2016-11-09 19:49] arouinfar commented on #16
👍

[2016-11-09 19:49] #16 closed

[2016-11-09 19:54] arouinfar commented on #6
Here current > 1x10^4, but I'm still seeing a precise number @samreid.
<img width="253" alt="screen shot 2016-11-09 at 12 50 57 pm" src="https://cloud.githubusercontent.com/assets/8419308/20152393/484d11fe-a67b-11e6-8969-2a0f1582eec8.png"><img width="254" alt="screen shot 2016-11-09 at 12 50 21 pm" src="https://cloud.githubusercontent.com/assets/8419308/20152392/484bc02e-a67b-11e6-86c9-4035c01031f

[2016-11-09 20:52] samreid commented on #6
Perhaps I was missing a Math.abs, can you see if it is fixed in this version?

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.4-phetiorc.3/wrappers/index

[2016-11-09 20:55] arouinfar commented on #6
That's done the trick @samreid! Looks good to me.

[2016-11-09 20:56] arouinfar commented on #18
Unable to reproduce in 1.0.4-rc.2. Closing!

[2016-11-09 20:56] #18 closed

[2016-11-09 20:58] arouinfar commented on #19
It's looking good @samreid! I haven't found any new issues to report, so I think it's ready for you to publish a version for Shima.

[2016-11-09 22:43] #19 closed

[2016-11-09 22:45] samreid opened #20 "Share version 1.0.4-phetio"
I published https://phet-io.colorado.edu/sims/circuit-construction-kit-black-box-study/1.0.4-phetio/wrappers/index/

@arouinfar can you please share this version to Shima?  Please include links that show them the data stream, turn on the ?showPlayPauseButton, etc.  Also, I'll add a link momentarily that records data to Metacog that you can include.

UPDATE: See, for example, https://github.com/phe

[2016-11-09 22:55] samreid commented on #20
Here's a link that shows a login page:

https://phet-io.colorado.edu/sims/circuit-construction-kit-black-box-study/1.0.4-phetio/wrappers/login/login.html?wrapper=record&sim=circuit-construction-kit-black-box-study&metacog&publisher_id=29da48a1&application_id=1f6fc35021bb7d398308c73123802036&widget_id=record-circuit-construction-kit-black-box-study&validationRule=crossCheckID&validationPrefix=cck16

[2016-11-10 00:33] arouinfar commented on #20
A few questions @samreid

* Do we need a separate link for a version without electrons? I don't recall this being a simple query parameter.
* To use query parameters, it looks like I need to login with the testing ID and <i>then</i> add the query parameter to the end of the URL. Is this correct?
* More of an observation than a question... when I add ?phet-io.log=lines or ?phet-io.console, the deve

[2016-11-10 00:38] arouinfar commented on #20
@samreid is this what I should use to hide electrons?

&phet-io.expressions=%5B%5B%22circuitConstructionKitBlackBoxStudy.exploreScreen.view.displayOptionsPanel%22,%22setVisible%22,%5Bfalse%5D%5D,%5B%22circuitConstructionKitBlackBoxStudy.blackBoxScreen.view.warmupSceneView.displayOptionsPanel%22,%22setVisible%22,%5Bfalse%5D%5D%5D

It seems to work, but I want to double check, since I'm less familia

[2016-11-10 04:05] samreid commented on #20
The query parameter you provided above looks correct.

Query parameters should be passed from the login page through to the simulation.  I tested and this appears to be working.  If you find otherwise, please let me know.

In order to support recording and playback, the record wrapper automatically records "input events" such as mouse moves, mouse presses and stepSimulation events.  This can be di

[2016-11-10 18:10] arouinfar commented on #20
Thanks @samreid!

That seems to be working for me now. Last night, it didn't seem to work that way, but I could have had a typo in my query parameter.

Thanks for the clarification!

[2016-11-10 19:10] samreid commented on #20
Here is the username/password:

Username: stanford
Password: forces

[2016-11-14 21:41] samreid commented on #2
No, the problem was pre-existing.  I'm hoping to address this the next time I'm working on CCK.

[2016-11-14 23:28] #20 closed

[2016-11-17 19:55] samreid commented on #2
I'll work on this when I resume work on CCK, unassigning.

[2016-11-19 06:55] jonathanolson commented on #2
Obligatory "This failure shows up reliably in automated testing, so I haven't been able to fix any usage that triggers recently-added Scenery assertions, or check it for any failures related to recent Scenery changes."

[2016-11-27 20:57] samreid commented on #2
I've tried digging into this twice--I tried adding dispose functions from RoundPushButton and keep ending up with:

The listener looks like the PushButtonInteractionStateProperty, but even when I comment out many of its occurrences or put debugger in its link/lazyLink calls, cannot find the problematic links.

@jbphet can you help here?

[2016-12-20 19:10] arouinfar opened #21 "Add wire stubs to black box vertices"
After initial student interviews, Shima reported:

Shima's timeline:

I'm imagining the wire stubs would look like this, and if possible, the node between the black box and wire would not be severable.
<img width="512" alt="screen shot 2016-12-20 at 1 03 17 pm" src="https://cloud.githubusercontent.com/assets/8419308/21364037/b7cce33e-c6b4-11e6-8fd8-8a35a53883f0.png">

@samreid I'm not sure what yo

[2016-12-20 20:14] samreid commented on #21
My rough guess (before working on it) is that it will likely take 2 days (16 developer hours) to prepare this for the first round of testing.  @kathy-phet, @ariel-phet, @arouinfar should I go for it?  Will @phet-steele or other QA team members be available for testing this in advance of Jan 9?

[2016-12-20 20:20] arouinfar commented on #21
@samreid, I don't believe this will need full QA testing, but I think it would be good for @phet-steeleand I to go have a go at it.

[2016-12-20 20:27] kathy-phet commented on #21
@samreid. I would say go for it. I think it is a feature that does help, and we would want to use in any CCK: BB design we release ourselves. I would say they need to be fixed and unpickable, so that they cannot be stretched or moved or deleted.

[2016-12-20 20:28] samreid commented on #21
Sounds good, reassigned to me and I'll keep you apprised of my progress.

[2016-12-24 01:16] samreid commented on #21
In the above commit, I added support for the "simplest thing that might possibly work".  You can test it on phettest.colorado.edu using VPN.  It looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/21464470/481d630e-c93b-11e6-9f92-f2acd8354741.png)

I noted the following:
* the black box wires are gray
* the vertex at the black box is not shown (perhaps this is ok)
* you ca

[2016-12-24 16:40] samreid opened #22 "branch: stanford"
To support the study done by stanford, see https://github.com/phetsims/circuit-construction-kit-common/issues/222

[2016-12-24 20:51] arouinfar commented on #21
@samreid can you publish this as a dev version? I'd like to reach out directly to Shima to see if this would be a reasonable solution for the purposes of her study.

[2016-12-27 23:03] samreid opened #23 "Able to edit the BB circuit after Reset All"
In https://github.com/phetsims/circuit-construction-kit-common/issues/200
@phet-steele reported:

1. Finger A holds down the reveal button
2. Finger B hits Reset All
3. Switch to Investigate Circuit to edit the circuit

![cckbb03](https://cloud.githubusercontent.com/assets/5863899/17598252/d8447ace-5fb6-11e6-9e5a-f31e97aeffac.gif)

Produces this error:

[code]

Seen on iOS 9.3.3 and Win 10 Chrome

[2016-12-29 21:16] arouinfar commented on #21
Pinging @samreid on this issue. I'd like to let Shima take a look at this in a dev version to see if this would be an acceptable solution.

[2016-12-29 21:25] samreid commented on #21
Thanks for the reminder @arouinfar, I'll work on this shortly.

[2016-12-29 22:29] samreid commented on #22
We'll use the 1.0-phetio branch instead, closing.

[2016-12-29 22:29] #22 closed

[2016-12-29 22:48] samreid commented on #21
I pushed "deploy" for 1.0.5-phetio but https://phet-io.colorado.edu/sims/circuit-construction-kit-black-box-study/1.0.5-phetio is not appearing.

[2016-12-29 22:52] samreid commented on #21
Following the instructions on https://github.com/phetsims/phet-info/blob/master/deployment-info/doc/deploy-rc-phet-io.md I used `sudo journalctl -fu build-server`.  It told me:

[code]

[2016-12-29 22:55] samreid commented on #21
Higher up (with --lines=200) it says:

[2016-12-29 22:57] samreid commented on #21
I tried running the command locally and it failed like so:

[code]

I tried without the --buildServer=true, and it worked OK.

[2016-12-29 22:58] samreid commented on #21
I asked for help on the Skype channel, and will try running the deploy command again.

[2016-12-29 23:27] samreid commented on #21
The new version was deployed as 1.0.5-phetio.  You can use all of the same links we sent Shima originally, but change the 1.0.4 to 1.0.5.  For instance:

https://phet-io.colorado.edu/sims/circuit-construction-kit-black-box-study/1.0.5-phetio/circuit-construction-kit-black-box-study_en-phetio.html?phet-io.standalone&phet-io.log=lines

@arouinfar please double-check this before passing it along.

[2016-12-30 18:25] arouinfar commented on #21
Thanks @samreid! I've sent an email to Shima.

[2017-01-03 18:54] arouinfar commented on #21
Shima liked the solution proposed by @samreid in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/21#issuecomment-269062104. She responded:

I like the solution, it looks great. Playing with it, I think it is more intuitive now. Hopefully, that would be the case for the less knowledgable participants as well.
I will keep you posted about the interviews and how they recei

[2017-01-03 19:27] samreid commented on #21
@arouinfar this version was built as a minimal delta, and only differs with respect to the wires (no changes in common code libraries were required).  This was done so that only minimal testing would be necessary.  Still, you or @phet-steele should take the changes for a test drive.

[2017-01-03 19:41] arouinfar commented on #21
Thanks @samreid. I will create a task for testing and will coordinate with @phet-steele. However, I don't believe the default values/tweaker increments discussed in https://github.com/phetsims/circuit-construction-kit-common/issues/221 have been migrated over to 1.0.5-phetio. I can create separate issue for that, but I also don't know if it merits releasing a new version for testing, or not.

[2017-01-03 19:46] samreid commented on #21
That is correct.  However, if it is not something critical for Shima's study, then I'd be inclined to leave it out.  Or, if we end up delivering another version beyond 1.0.5-phetio, then we could make that change then.

[2017-01-03 19:58] kathy-phet commented on #21
I think it is a usability issue not to be able to return to the default values even if it did not come up in Shima's original interviews - so I think we need to make that change in the version we deliver to Shima.

I just heard from Argenta a few minutes ago that Shima and her will be doing a classroom trial with CCK - Black Box and the first screen of CCK in about a month. I think in that context

[2017-01-03 20:00] samreid commented on #21
Sure, I'll work on that.  @arouinfar and @phet-steele can hold off testing until 1.0.6-phetio is ready.

[2017-01-03 20:02] samreid opened #24 "The Black Box Study branch should get the 0.5 increment fix"
See https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/21#issuecomment-270209135

[2017-01-03 20:06] kathy-phet opened #25 "February: Classroom use of CCK/CCK Blackbox"
Shima and Argenta are collaborating on a classroom use of CCK (basically first screen only) and CCK: Black Box, and have requested instrumented/recording links for use in February.

With final fixes for Shima's version happening now, we should be pretty set up. With primary addition being to create ability of an instrumented version with screen 1 only.

[2017-01-03 20:07] kathy-phet commented on #25
@samreid - Not assigning you right now, but pinging you here so its on your radar for after delivery of Shima's interview links.

[2017-01-03 20:26] samreid commented on #24
The fix was implemented in this issue: https://github.com/phetsims/circuit-construction-kit-common/issues/221

In this commit: https://github.com/phetsims/circuit-construction-kit-common/commit/93fe9167e962bf32287d3da566dfbb5e20e60fb8

It looks simple enough to cherry-pick.

[2017-01-03 20:28] samreid commented on #24
OK I cherry picked and pushed to the branch.

[2017-01-03 20:35] samreid commented on #24
Publishing to https://phet-io.colorado.edu/sims/circuit-construction-kit-black-box-study/1.0.5-phetio/circuit-construction-kit-black-box-study_en-phetio.html?phet-io.standalone&phet-io.log=lines

[2017-01-03 20:38] samreid commented on #24
The link is not appearing.  Could the build server be down again?

[2017-01-03 20:49] samreid commented on #24
Fixed, and I'll bundle review for this into #21.

[2017-01-03 20:49] #24 closed

[2017-01-03 20:50] samreid commented on #21
Added 0.5 patch into https://phet-io.colorado.edu/sims/circuit-construction-kit-black-box-study/1.0.6-phetio/circuit-construction-kit-black-box-study_en-phetio.html?phet-io.standalone&phet-io.log=lines

@arouinfar can you test or schedule @phet-steele for testing?

[2017-01-03 20:53] arouinfar commented on #21
Thanks @samreid! I'll make a testing issue in the tasks repo.

[2017-01-05 19:12] arouinfar commented on #21
@samreid while verifying https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/21#issuecomment-269062104 for https://github.com/phetsims/tasks/issues/761, I discovered that solder joints appear on the wire stubs after a component is removed from the toolbox.

On startup:
<img width="438" alt="screen shot 2017-01-05 at 11 52 48 am" src="https://cloud.githubusercontent.com/asse

[2017-01-05 19:17] arouinfar commented on #21
@samreid I haven't noticed any other issues with the wire stubs thus far, and I don't think this is a particularly blocking issue. If nothing else crops up from testing, I think Shima can use 1.0.6 for the pre-test data she's collecting on Monday.

[2017-01-05 19:18] samreid commented on #21
Excellent, I'll leave it up to you to coordinate with Shima regarding delivering the new version.

[2017-01-05 19:42] arouinfar opened #26 "Voltmeter cannot read across wire stubs"
Found during https://github.com/phetsims/tasks/issues/761.

In Build mode, the voltmeter cannot read across the wire stubs attached to the black box.
<img width="300" alt="screen shot 2017-01-05 at 12 24 59 pm" src="https://cloud.githubusercontent.com/assets/8419308/21694397/41a1fa1a-d342-11e6-8361-f5bf0bd5f16f.png">

However, the voltmeter can read across the black box terminals, even when the so

[2017-01-06 03:31] jonathanolson commented on #2
Another error (happened with the built fuzzer but I think I've seen it with require.js):

[code]

[2017-01-06 18:47] samreid commented on #26
Should we fix this and publish 1.0.6 for Shima?  This page https://github.com/phetsims/tasks/issues/761 says the next study is Jan 9 (Monday), should we try to fix it by then?

What is the desired behavior?  Making the wire stubs read the correct value, or making the black box vertex read as a "?"

[2017-01-06 19:14] arouinfar commented on #26
@samreid the voltmeter probes should be able to read the correct value across the wire stubs and the black box vertices. It's currently only doing the latter.

If this is a quick and non-invasive change that won't require significant testing (which I doubt), please take care of it this afternoon. Otherwise, I can send 1.0.6 to Shima as-is, and let her know about this issue. She can decide if she w

[2017-01-06 19:47] samreid commented on #26
I added a new property `wireStub` and made it so it does not prevent wire voltages from being read from black box wires:

![image](https://cloud.githubusercontent.com/assets/679486/21730707/28371be2-d40e-11e6-81c5-4e85705f777b.png)

In testing this, I noticed that "Test" doesn't show the right voltages:
![image](https://cloud.githubusercontent.com/assets/679486/21730720/3b1e66f2-d40e-11e6-8240-a42

[2017-01-06 19:55] samreid commented on #26
Published to http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.7-phetio/circuit-construction-kit-black-box-study_en-phetio.html?phet-io.standalone=true

@arouinfar can you please take it for a test drive?

[2017-01-06 19:56] arouinfar commented on #26
Thanks for the quick turnaround @samreid! I'll take a look now.

[2017-01-06 19:58] samreid opened #27 "Voltmeter doesn't read values for black box circuit"
In testing this, I noticed that "Test" doesn't show the right voltages:
![image](https://cloud.githubusercontent.com/assets/679486/21730720/3b1e66f2-d40e-11e6-8240-a42803f267b4.png)

I'll need to check whether this was also a problem before.

From https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/26

@arouinfar have you seen this before?  Is this behavior correct for Blac

[2017-01-06 19:58] samreid commented on #27
This problem exists in 1.0.6 and 1.0.7.

[2017-01-06 20:17] arouinfar commented on #27
I haven't seen this before @samreid, though I don't suppose I ever had the voltmeter probes arranged in such a way while testing.

Looks like voltmeter works if both probes are inside of the black box.
<img width="300" alt="screen shot 2017-01-06 at 1 03 21 pm" src="https://cloud.githubusercontent.com/assets/8419308/21731242/a960fcfe-d410-11e6-8814-1cb0ebcf4d68.png">  <img width="299" alt="screen

[2017-01-06 20:22] arouinfar commented on #6
@samreid Looks like this is missing from the Black Box screen in 1.0.6 and 1.0.7, but is present on the Explore screen. Reopening.

[2017-01-06 20:23] arouinfar commented on #6
Explore (top) and Black Box (bottom) screen in 1.0.7
<img width="230" alt="screen shot 2017-01-06 at 1 22 45 pm" src="https://cloud.githubusercontent.com/assets/8419308/21731757/3b4ff794-d413-11e6-8a63-7fa093230e5d.png">
<img width="514" alt="screen shot 2017-01-06 at 1 22 38 pm" src="https://cloud.githubusercontent.com/assets/8419308/21731758/3b53016e-d413-11e6-8e24-538fe88f4952.png">

[2017-01-06 20:27] arouinfar commented on #26
After some cursory testing, the voltmeter appears to work properly on the wire stubs. I'll have time to test this more deeply later this afternoon @samreid.

[2017-01-11 16:34] samreid commented on #26
@arouinfar what is the status of this issue and what other issues do I need to fix before our next deployment?

[2017-01-12 17:38] arouinfar commented on #26
@samreid I haven't found any issues with using the voltmeter across the wire stubs in 1.0.7, we we can go ahead and close this issue.

[2017-01-12 17:38] #26 closed

[2017-01-12 17:40] arouinfar commented on #6
@samreid this issue will need to be addressed in the next version we deliver to Stanford, no matter what happens with the wire stubs.

[2017-01-12 17:43] arouinfar commented on #21
@samreid I double checked with Shima that the wire stubs are acceptable for the high school study as well. I'll let you know when I hear back.

Assuming there aren't any other change requests, the only thing that's left to address for this issue would be the solder joints I described in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/21#issuecomment-270730658.

[2017-01-12 17:44] arouinfar commented on #21
Leaving self-assigned until we hear back from Shima.

[2017-01-12 17:47] arouinfar commented on #27
@samreid I've unassigned you from this issue until we hear back from Shima.

The behavior of the voltmeter is not acceptable and will need to be addressed before delivering to Stanford. That said, I don't think you should spend any time on this issue until we have confirmation that the wire stubs don't require any other changes.

[2017-01-12 18:15] samreid opened #28 "Patch 1.0.4 with 0.5 increment sliders"
If Shima continues with 1.0.4, @kathy-phet suggested adding the 0.5 increment sliders.  Assigned to @arouinfar to keep an eye on this and see if it becomes necessary (if we aren't proceeding with the 1.0.7+ line).

[2017-01-13 21:09] samreid opened #29 "Publish a prototype containing only the explore screen"
On 1/13/17 10:58 AM, Kathy Perkins wrote:

[2017-01-13 21:09] samreid commented on #29
On 1/13/2017 1:08 PM, Sam Reid wrote:

[2017-01-13 21:09] samreid commented on #29
On 1/13/17 1:24 PM, Kathy Perkins wrote:

[2017-01-13 21:10] samreid commented on #29
On 1/13/2017 1:49 PM, Sam Reid wrote:

[2017-01-13 21:10] samreid commented on #29
On 1/13/17 2:02 PM, Kathy Perkins wrote:

[2017-01-13 21:10] samreid commented on #29
Amy, can you please advise on the best "stable" version to base this on?

Best Regards,
Sam

[2017-01-13 21:50] arouinfar commented on #28
@samreid this would be the version we should use for #29.

[2017-01-13 21:53] arouinfar commented on #29
@samreid I think version 1.0.4 with the addition of the 0.5 tweaker increments would be the best candidate.

[2017-01-13 23:09] samreid commented on #28
For #29 I was planning to publish only the explore screen.  Hence I would need to publish two versions, one with the explore screen and one without.

[2017-01-17 04:10] samreid commented on #29
Marked as high priority since @kathy-phet said "4 weeks from now might not be useful to them"

[2017-01-17 04:21] samreid commented on #6
@arouinfar what I observed in 1.0.7 is that the `>10^4` readout is working on the black box screen:

![image](https://cloud.githubusercontent.com/assets/679486/22007616/60e5a2da-dc31-11e6-9589-19ec8d374700.png)

What is happening in the screenshot in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/6#issuecomment-270996895 is that the default wire resistivity times the l

[2017-01-17 18:48] arouinfar commented on #6
Thanks for the clarification @samreid. I misread the current in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/6#issuecomment-270996895 as 8x10^4. Let's reduce the threshold to 10^3 amps, which is still imprecise, but large.

[2017-01-17 18:51] arouinfar commented on #29
@samreid the prototype should not include the modification made to the current meter in #6 to display an imprecise value when shorted.

[2017-01-17 19:05] arouinfar commented on #21
@samreid after re-reviewing the wire stub behavior Shima responded:

*Electrons are not visible in the black box wires
This can cause misconception. So, if there is one of these compromises that  should be resolved for sure is the above one.
About the other issues:
I am not sure if I understand this point exactly:
*The vertex at the black box is not shown
Also, I do not like the floating terminals

[2017-01-17 19:18] arouinfar commented on #27
@samreid not sure how you'll be addressing this issue, given the change requests in #21, but here's the desired behavior for the current and voltmeters.
* Probes should produce a non-? reading across wires/vertices, including the Black Box wires/vertices.
* Probes should not be able to read on top of the black box, as shown in https://github.com/phetsims/circuit-construction-kit-black-box-study/is

[2017-01-18 16:42] samreid commented on #29
I created a new repo "circuit-construction-kit-prototype" but then remembered that @kathy-phet wanted this URL to be the same place the "DC" one will eventually be.  So I think I'll delete that repo and proceed with the "circuit-construction-kit-dc" repo.  Not sure what to do for version number.  Using 1.0 now means we could not use it later when we publish the real 1.0.  Perhaps I'll publish it a

[2017-01-18 16:46] samreid commented on #29
I'll take dependencies.json from http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.4-phetio/dependencies.json

@zepumph and I decided on this version name: 1.0-prototype.1

[2017-01-18 16:49] samreid commented on #29
Therefore it seems the branch should be named "1.0"

[2017-01-18 16:58] samreid commented on #29
Sadly, SimVersion cannot parse "1.0-prototype.1".  Perhaps I'll try "1.0.0-prototype.1"

[2017-01-18 17:09] samreid commented on #29
Published here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-prototype.1/circuit-construction-kit-dc_en.html

On 1/13/17 2:17 PM, @kathy-phet wrote:

[2017-01-18 17:10] samreid commented on #29
Oops, I must fix the name.

[2017-01-18 17:12] samreid commented on #29
The name is fixed in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-prototype.2/circuit-construction-kit-dc_en.html

[2017-01-18 17:39] samreid commented on #29
This issue is on hold pending testing, when testing is complete, please reassign to me.

[2017-01-18 18:06] samreid commented on #21
Based on the preceding comment, I'll create 2 new issues and close this one.

[2017-01-18 18:07] samreid opened #30 "Show the electrons in the wire stubs (critical)"
From https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/21

Timeline is "sometime in February"

[2017-01-18 18:09] samreid opened #31 "Add wires to floating terminals in the Test scene (important, but can be worked around)"
https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/21#issuecomment-273266194

Shima said:

@kathy-phet @ariel-phet @arouinfar how much time would you recommend I spend looking into this particular issue?

[2017-01-18 18:13] samreid commented on #29
@pixelzoom recommends changing the version name from "-prototype" to "-dev", I agreed this is a good plan and will do it for next version, if any.

[2017-01-18 18:15] samreid commented on #21
New issues are above, closing.

[2017-01-18 18:15] #21 closed

[2017-01-18 18:17] samreid commented on #28
@arouinfar #29 is underway and using different branches.  6 days ago it seemed unclear whether Shima would proceed with 1.0.4 or 1.0.7+.  Can you comment?

[2017-01-18 18:24] samreid commented on #29
I'm going to move this issue to the more appropriate repo.

[2017-01-18 18:25] samreid commented on #29
We'll track this in the above issue, closing.

[2017-01-18 18:25] #29 closed

[2017-01-18 18:28] arouinfar commented on #28
@samreid Shima has a few studies going on. She has already collected pre-test/pre-semester data and conducted some individual interviews with Stanford students. Shima also has a high school classroom study coming up next month.

For the Stanford population, the version without wire stubs (1.0.4) was acceptable, though not ideal. The problems with the voltmeter in #27 made the 1.0.7 unacceptable fo

[2017-01-18 18:30] samreid commented on #28
@arouinfar thanks for the clarification.  I'll close this issue and continue on #27, #30 and possibly #31 for 1.0.8+

[2017-01-18 18:30] #28 closed

[2017-01-18 18:30] samreid commented on #28
And #6 it looks like.

[2017-01-18 18:31] arouinfar commented on #31
I can't really speak to your priorities @samreid -- that's more of a question for @kathy-phet  or @ariel-phet, but here's my two cents.

I tend to agree with Shima here. If this were my study, I would want the black box wire stubs in both scenes for consistency. That said, I think this issue is somewhat contingent upon Shima's timeline (which I'm still waiting to hear back about). If she needs the

[2017-01-18 18:33] samreid opened #32 "Publish 1.0.8+ for Shima for February"
This includes the issues I'll mark below this comment.

[2017-01-18 18:33] samreid commented on #6
Desired for https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/32

[2017-01-18 18:34] samreid commented on #27
Desired for https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/32

[2017-01-18 18:34] samreid commented on #30
Desired for https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/32

[2017-01-18 18:34] samreid commented on #31
Possibly desired https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/32

[2017-01-18 18:35] samreid commented on #32
The issues marked above are the currently known issues we would like fixed for Shima for February.

[2017-01-18 18:56] samreid commented on #32
I'm considering whether to continue in the somewhat "stale-but-safe" branches or jump over to master.  Based on the following:

* not all of the changes above are trivial
* there are code improvements in master that will simplify development of this version
* we would like to be testing on master, not on stale branches

I'm inclined to jump to master.  Though if this was due Feb 1 it would be a di

[2017-01-18 18:57] samreid commented on #32
From #21:

[2017-01-18 19:05] samreid commented on #32
It looks like the cck-common branch is missing some commits (perhaps published as dev instead of production/rc?)

[2017-01-18 19:08] samreid commented on #6
Fixed in the above commit.  Should be reviewed in next publish.

[2017-01-18 20:26] samreid commented on #30
Fixed above, leaving open until ready for review.

[2017-01-18 20:28] samreid opened #33 "Can/should any changes in the branch be propagated to master?"

[2017-01-18 20:43] samreid commented on #27
Here is the behavior I see:

Explore screen:
- [x] voltmeter reads values within same wire
- [x] voltmeter reads values within same vertex
- [x] voltmeter reads values from vertex to wire
- [x] voltmeter produces no reading in the middle of a battery

Therefore the explore screen behavior seems correct.

Black Box Screen:
- [x] Explore: voltmeter reads values within wire stub
- [x] Explore: voltme

[2017-01-18 20:43] samreid commented on #27
I'm not seeing any such gaps (Black Box Screen/Test) with the ammeter.

[2017-01-18 21:00] samreid commented on #27
The gaps were being caused by the old black box interface vertices reading through the box.  Fix forthcoming.

[2017-01-18 21:02] samreid commented on #27
Fixed above in the branch.  In #33 we can consider moving that change to master.

[2017-01-18 21:02] samreid commented on #32
I've created proposed fixes for the top 3 issues, leaving the last issue until we know the timeline.  I'll publish a dev version for testing.

[2017-01-18 21:09] samreid commented on #32
Published here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.8-dev.1/circuit-construction-kit-black-box-study_en.html

I'll reassign individual issues to @arouinfar for testing.

[2017-01-18 21:10] samreid commented on #6
Proposed fix is here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.8-dev.1/circuit-construction-kit-black-box-study_en.html

@arouinfar can you please review/test?

[2017-01-18 21:10] samreid commented on #27
Proposed fix is here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.8-dev.1/circuit-construction-kit-black-box-study_en.html

@arouinfar can you please review/test?

[2017-01-18 21:11] samreid commented on #30
Proposed fix is here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.8-dev.1/circuit-construction-kit-black-box-study_en.html

@arouinfar can you please review/test?

[2017-01-18 22:30] arouinfar commented on #27
Looks good @samreid.

[2017-01-18 22:31] arouinfar commented on #27
Commented on the wrong issue. Reopening.

[2017-01-18 22:31] arouinfar commented on #30
👍

[2017-01-18 22:31] #30 closed

[2017-01-18 22:41] arouinfar commented on #27
Yes, I believe so. Everything looks good in 1.0.8.

[2017-01-18 22:41] #27 closed

[2017-01-19 17:49] samreid commented on #31
I spent about an hour on this, kind of got the wires working, but sometimes connections are impossible and current doesn't flow through.  It may take 4-8 more hours to get something ready for QA testing.  Here's my poor-man's branch:

[code]

[2017-01-20 03:50] ariel-phet commented on #31
Seeing as I have not been involved in the Stanford study work, I cannot comment on the relative priority here and will defer to @kathy-phet.

@samreid my one thought would be, if this work is useful (or potentially useful) for the sim we intend to publish, it is worth doing. It seems unlikely to be helpful for getting DC published, but I know there is talk of eventually publishing a black box CCK

[2017-01-20 04:37] samreid commented on #31
When we eventually publish a black box simulation on our own site, we will need to rewrite many parts of this code.  Implementing it now doesn't necessarily mean it will survive to the next iteration.  The main benefit of working on it now would if it helped us decide how our version should eventually be designed (for instance if we add wire stubs and decide that we like them as a design feature).

[2017-01-20 04:41] samreid commented on #31
Another note: the black box study code is no longer compatible compatible with master.  Changes made in the maintenance branch would have adapted to work for master.  If we were planning to publish our own Black Box simulation *soon* I would take the time to get it working with master again and start re-architecting it soon rather than living in an old maintenance branch.  However, I got the impre

[2017-01-20 05:35] kathy-phet commented on #31
Let me talk with Amy before you spend any more time on this issue. Thx.

Sent from my iPhone

On Jan 19, 2017, at 9:41 PM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

Another note: the black box study code is no longer compatible compatible with master. Changes made in the maintenance branch would have adapted to work for master. If we were planning to publish our

[2017-01-20 16:31] samreid commented on #32
Everything is fixed except for the tricky issue which may not be necessary anyways.   @kathy-phet and @arouinfar are going to discuss it in #31.  This issue is on hold until then.

[2017-01-20 19:34] samreid commented on #31
@kathy-phet recommended an hour to investigate and up to 3 hours for implementation if it seems there is a tractable solution.

[2017-01-20 20:40] samreid commented on #31
After a bit less than an hour, I've published this version with the stubs in the user circuit implementation instead of the black box implementation:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.8-dev.2/circuit-construction-kit-black-box-study_en.html

Known issues:
(a) you can attach to the base of the black box like so:
![image](https://cloud.githubu

[2017-01-20 21:46] kathy-phet commented on #31
I don't think it is important to address a.

Sent from my iPhone

On Jan 20, 2017, at 1:40 PM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

After a bit less than an hour, I've published this version with the stubs in the user circuit implementation instead of the black box implementation:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-b

[2017-01-20 21:53] samreid commented on #31
This version addresses the wire stub resetting problem:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.8-dev.3/circuit-construction-kit-black-box-study_en.html

@arouinfar this is ready for you to take a closer look.

[2017-01-20 22:06] kathy-phet commented on #31
super quick look - 5 min - looks good to me. only comment I have is
    it would be incrementally improved if the solder joints were layered
    on top ... right now they seem to be below the special stubs. But
    certainly could leave as it is.

    On 1/20/2017 2:53 PM, Sam Reid wrote:

      This version addresses the wire stub resetting problem:
        http://www.colorado.edu/physics/phet/de

[2017-01-20 22:09] kathy-phet commented on #31
noticed solder joints do show up nicely on joints after pressing
    reset all ... if they could start with that look it seems like it
    would be better.
    kathy

    On 1/20/2017 2:53 PM, Sam Reid wrote:

      This version addresses the wire stub resetting problem:
        http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.8-dev.3/circuit-construction-

[2017-01-21 04:44] samreid opened #34 "Update master with the branch changes"
It is possible that Stanford will continue on their maintenance branch.  However, if more significant changes are warranted, or if we want to use the code for our Black Box sim, it will need to be brought up to master.  If not too much work, we should port the changes from the branch to master,  *and* make changes to both branches moving forward.

[2017-01-21 04:46] samreid commented on #34
Most changes moved forward in the commits above.  Some bugs to fix in black box in master, but then it should be good to go.  Moving forward, we can make commits in both branches.  A bit difficult since the Stanford branch is in the "common" repo and master is in the "black-box-study" repo, so cherry picks won't be possible, but we can keep them in sync manually.

[2017-01-21 05:05] samreid commented on #34
OK, everything seems up to date as of now.  Leaving issue open to remind me to port forward other changes, if any.

[2017-01-21 05:05] samreid commented on #33
Completed in #34

[2017-01-21 05:05] #33 closed

[2017-01-24 16:41] arouinfar commented on #31
@samreid overall, looking good! I haven't found any issues with 1.0.8-dev.3, aside from the solder joint issue that @kathy-phet described. I don't think we need to worry about issue (a) in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/31#issuecomment-274174338, either.

[2017-01-24 18:11] kathy-phet commented on #31
@samreid - FYI -- I will likely demo this version at tomorrows talk.

[2017-01-24 18:35] phet-steele opened #35 "Automated Testing Fuzz Error (1/24/2017 10:25 AM)"
Second error seems to appear along with the first:

[code]

[code]

[2017-01-24 18:37] samreid commented on #31
@kathy-phet is `1.0.8-dev.3` ok, or should I try to push a solder joint fix before then?

[2017-01-25 16:20] samreid commented on #34
I'm in the mindset of keeping master up to date now and no longer need this issue to remind me, closing.

[2017-01-25 16:20] #34 closed

[2017-01-25 16:26] samreid opened #36 "Solder should be rendered properly on startup"
From https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/31

@kathy-phet said:

and

@arouinfar said:

This should be implemented for the 1.0.8 branch and for master.

[2017-01-25 17:24] samreid commented on #36
In the preceding commit, I added a workaround for showing the solder in the correct order.  It is published here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.8-dev.4/circuit-construction-kit-black-box-study_en.html

I spent nearly an hour investigating the "right way" to do this, but given the current implementation it would have been very convoluted,

[2017-01-25 17:29] samreid commented on #31
The new wire stubs are working nicely, we'll continue in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/36 for next steps, closing.

[2017-01-25 17:29] #31 closed

[2017-01-25 17:30] samreid commented on #32
The tricky issue is fixed in #31 and we are awaiting testing of another minor improvement in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/36

[2017-01-25 18:23] samreid opened #37 "For classroom study, add an option to hide the reveal button"
For the classroom study with CCK:BB, they want to hide the Reveal button so they cannot check the answer.

Not sure if this will be a query parameter, phet-io call or something else.

[2017-01-26 17:22] arouinfar commented on #36
@samreid the workaround seems to be working fine. I can do a bit more testing on 1.0.8-dev.4, but I think we'll want to wait for the fire artwork (https://github.com/phetsims/circuit-construction-kit-common/issues/72) and hiding the reveal button (https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/37) before doing more elaborate testing or getting @phet-steele on board.

[2017-01-26 17:23] arouinfar commented on #32
I'm going to tag a few more issues that should be addressed for the classroom version of CCK:BB.

[2017-01-26 17:24] arouinfar commented on #37
Tagging for #32.

[2017-01-26 17:24] arouinfar commented on #36
Tagging for #32.

[2017-01-26 17:27] samreid commented on #36
@arouinfar can this issue be closed?

[2017-01-26 17:28] arouinfar commented on #36
I'll go ahead and close this issue, and open new issues if I find anything else in 1.0.8-dev.4.

[2017-01-26 20:22] kathy-phet opened #38 "Disable connection to other end of stub in "test circuit""
@samreid - As shown below it looks like the latest version for Shima allows connection to either end of the "stubs" when building inside the black box. I thought it would have automatically disallowed connection to the end outside of the black box given its definition as part of the external circuit.

![image](https://cloud.githubusercontent.com/assets/5096804/22348826/664a1f08-e3ca-11e6-9d7b-ce02

[2017-01-27 17:06] samreid commented on #38
Oops, I noticed this change makes it possible to move the stub wires:

![image](https://cloud.githubusercontent.com/assets/679486/22379838/4ccab67e-e478-11e6-810b-6f621577e3fb.png)

[2017-01-27 17:21] samreid commented on #38
I added a new flag that tracks the outer wire stubs.  It seems to be working OK with the caveat that it is not possible to rotate a fixed length circuit element (such as a battery) attached to an outer wire stub vertex.  Still, that may be ok.  I'll publish a version for @kathy-phet and @arouinfar to investigate.

[2017-01-27 17:27] samreid commented on #38
Dev version published here.  @kathy-phet and @arouinfar can you please test this fix?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.8-dev.6/circuit-construction-kit-black-box-study_en.html

[2017-01-27 17:29] samreid commented on #37
It is already tandemized, so perhaps this can easily be done with PhET-iO.

[2017-01-27 17:40] samreid commented on #37
Here is the URL that launches with the 11 reveal buttons hidden:

http://localhost/circuit-construction-kit-black-box-study/circuit-construction-kit-black-box-study_en.html?brand=phet-io&ea&screens=2&webgl=false&phet-io.standalone=true&phet-io.expressions=[[%22circuitConstructionKitBlackBoxStudy.blackBoxScreen.view.warmupSceneView.revealButton%22,%22setVisible%22,[false]],[%22circuitConstructionKi

[2017-01-27 17:42] samreid commented on #37
That URL is somewhat unwieldy and indeed would change if republishing in master due to new query parameter API.  Perhaps good enough for now?  But it should be tested on the platforms to be used in the classroom to make sure it accepts large URLs.

[2017-01-27 19:37] samreid commented on #38
@kathy-phet and I discussed this on Zoom today and realized that the proposed fix in dev.6 has the undesirable behavior that cutting the wire stub outer vertex deletes it.  We hypothesize this was being handled by the "blackBoxInterface" property.  So we would like to go back to 1.0.8-dev.4, so leaving the outer vertex marked as black box interface, but make them unattachable when in test mode.

I

[2017-01-27 20:13] samreid commented on #38
In the above commits, I restored the outer wire stub to being a black box interface vertex, which handles connections, adjacent rotations and disconnections properly.  Then I added code which prevents attachment when in the "test" mode.  Brief tests seem OK, I'll share a link for @kathy-phet and @arouinfar to test.  If all seems well, I'll move this fix to master.

[2017-01-27 20:16] samreid commented on #38
@kathy-phet and @arouinfar can you please test this version with the fixes for the wire stubs?
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.8-dev.7/circuit-construction-kit-black-box-study_en.html

[2017-01-27 21:15] samreid commented on #38
I went ahead and pushed this same fix to master.

[2017-02-02 17:30] arouinfar commented on #38
Looks good @samreid. I haven't been able to reproduce the issues.

[2017-02-02 17:30] #38 closed

[2017-02-02 23:06] jonathanolson opened #39 "Automated testing error"
[code]

[2017-02-03 16:45] samreid commented on #37
I'll add this query parameter in master then backport to the branch: showRevealButton=false

[2017-02-03 16:59] samreid commented on #37
OK it's in both branches and ready for testing in next version.

[2017-02-03 17:11] samreid opened #40 "Create new stable SHAs"
From https://github.com/phetsims/circuit-construction-kit-common/issues/72#issuecomment-277304504

Master has diverged so much from the legacy branch that it is no longer to automatically or semi-automatically merge the changes. All changes now have to be done manually, this means extra work during development and that everything must be tested twice (in the branch and in master).  The best long t

[2017-02-03 17:18] samreid commented on #40
One point to refine this, some semi-automatic backports are possible for common feature (i.e. not specific to black box).  For instance, I was able to cherry pick some of the fire.

[2017-02-03 17:31] samreid commented on #37
Published here for testing: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.8-dev.9/circuit-construction-kit-black-box-study_en.html?showRevealButton=false

@arouinfar can you take a look?

[2017-02-03 17:33] samreid commented on #32
I created a testing version at http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.8-dev.9/circuit-construction-kit-black-box-study_en.html and asked @arouinfar to review #37 and #72.  If they seem good, this could be a candidate for sharing.

[2017-02-03 18:10] arouinfar commented on #36
In 1.0.8-dev.9, I noticed that the solder joint can become transparent if you
* Go to Black Box on startup. Solder joint looks fine.
* Switch to Test, and then back to Explore.
* Solder joint is now transparent and remains transparent, even when components are attached.
![image](https://cloud.githubusercontent.com/assets/8419308/22602558/fc005436-ea00-11e6-96bb-21929213201f.png)

I retested 1.0.8-

[2017-02-03 18:11] arouinfar commented on #37
Looks good!

[2017-02-03 18:11] #37 closed

[2017-02-03 21:05] ariel-phet commented on #40
@samreid in terms of the QA queue next week would probably be a good time, once Make-a-Ten is published, we will likely have a bit of a lull in high priority items for possibly a week or so (especially since the app is now republished, and some recent a11y iO sims are out the door).

So I would say sooner than later, and this task would come above testing a CCK prototype IMO

[2017-02-04 02:57] samreid commented on #40
If master makes it through QA, it would also be a suitable prototype.

[2017-02-06 20:32] arouinfar opened #41 "Add 5 additional black boxes"
Shima has requested that we add four additional black boxes to the version she will use for the Stanford post-test on March 10 and 11. These black boxes won't be necessary for the classroom study, though I don't imagine they'll do any harm if they are included there too.

@samreid is it relatively straight forward to add additional black boxes? I've asked Shima to send me screenshots as soon as sh

[2017-02-06 20:34] samreid commented on #41
I would love to do #40 before implementing something like this.  Can you please comment on #40?

[2017-02-06 20:40] arouinfar commented on #40
@samreid I'll defer to @ariel-phet on this issue. My only concern is that we will be able to make the late Feb/early March deadline for Shima's studies.

[2017-02-06 20:43] ariel-phet commented on #40
@samreid lets go ahead with creating this task as we have some current space in QA that will soon close up in a week or two

[2017-02-07 05:44] samreid commented on #40
@arouinfar can I include the labels checkbox and component labels like this:

![image](https://cloud.githubusercontent.com/assets/679486/22679245/d78dc2fe-ecbd-11e6-9c95-149f7b2e67b6.png)

For Shima, or should I strip it out before doing a build?

[2017-02-07 05:46] arouinfar commented on #40
@samreid I honestly don't know. My best guess would be that you should strip the labels before doing a build for Shima, but I will email her to confirm.

[2017-02-07 05:53] samreid commented on #40
Sounds good, I don't want to miss our testing window, so if you don't hear from her by noon tomorrow or so I'll probably do a build anyways.  If we have to strip the labels from the support branch, or add an option to have them off by default it will be OK.

[2017-02-07 16:21] arouinfar commented on #40
@samreid thanks for the update. I'll let you know as soon as I hear back.

[2017-02-07 17:27] arouinfar commented on #40
@samreid the Labels checkbox (default on) can be included in the version of CCK:BB that you build for Shima.

Shima replied:

When following up about the default state of the Labels checkbox, she said:

[2017-02-07 23:03] arouinfar commented on #40
@samreid I saw CCK:BB on master, and I wanted to give you a heads up that the lifelike/schematic option should not be in what is published for Shima.

[2017-02-07 23:04] samreid commented on #40
Agreed, I'll suppress that before publishing tomorrow.

[2017-02-07 23:05] arouinfar commented on #40
Excellent, thanks!

[2017-02-08 14:16] samreid commented on #40
I commented out the lifelike/schematic buttons for now.

[2017-02-08 15:59] samreid opened #42 "the solder joint can become transparent"
From https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/36#issuecomment-277319605

In 1.0.8-dev.9, I noticed that the solder joint can become transparent if you
* Go to Black Box on startup. Solder joint looks fine.
* Switch to Test, and then back to Explore.
* Solder joint is now transparent and remains transparent, even when components are attached.
![image](https://clou

[2017-02-08 15:59] samreid commented on #36
I moved the preceding comment to a new issue, closing.

[2017-02-08 16:16] samreid commented on #39
Circuit Construction Kit: Black Box Study is currently passing 60 seconds of fuzzing, closing for now.

[2017-02-08 16:16] #39 closed

[2017-02-08 16:16] samreid commented on #35
Circuit Construction Kit: Black Box Study is currently passing 60 seconds of fuzzing, closing for now.

[2017-02-08 16:16] #35 closed

[2017-02-08 16:17] samreid commented on #2
Circuit Construction Kit: Black Box Study is currently passing 60 seconds of fuzzing, closing for now.

[2017-02-08 16:17] #2 closed

[2017-02-08 17:50] samreid commented on #42
I'm not seeing this problem in master (or I am not following the steps correctly).  I did test=>explore=>connect and I saw:

![image](https://cloud.githubusercontent.com/assets/679486/22749980/630dec6c-edec-11e6-8b3d-8b0a7bb4e3da.png)

I saw a layering problem (solder goes to the back), but not a transparency problem.  I'll leave this open for @arouinfar to review in the next RC.

[2017-02-08 21:08] samreid commented on #40
I'll create a 1.1-phetio branch for this.  In case significant problems arise, we would still be able to use the 1.0 legacy branch.

[2017-02-08 21:13] samreid commented on #40
RC1 was published here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.1/circuit-construction-kit-black-box-study_en-phetio.html?phetioStandalone

With wrappers here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.1/wrappers/index/

I'll create a test task.

[2017-02-08 22:17] arouinfar commented on #41
@samreid  here are the additional black boxes that Shima has requested.

Black Box 11:

<img width="302" alt="bb-1" src="https://cloud.githubusercontent.com/assets/8419308/22759913/6e8b5960-ee11-11e6-899f-e40a4710fe5a.png">

Black Box 12:

<img width="300" alt="bb-2" src="https://cloud.githubusercontent.com/assets/8419308/22759921/74051926-ee11-11e6-8e77-6b3b8627478d.png">

Black Box 13:

<img wid

[2017-02-08 22:18] samreid commented on #41
Note to self: implement these as a single commit so it is easy to cherry pick.

[2017-02-08 22:49] phet-steele opened #43 "Wire stubs easily editable after switching to and from Test --> Explore"
1. Click Test
2. Click Explore

Wire stubs can be moved no differently than another wire. Happens on any BB selection:

![cckbbio01](https://cloud.githubusercontent.com/assets/5863899/22760991/207e0718-ee16-11e6-94c7-4157c74fb6cf.gif)

Seen on macOS 10.12.3 Chrome. For phetsims/tasks#781.

[2017-02-08 23:15] phet-steele opened #44 "Fire is offset from shorted elements in a BB"
1. Short a circuit element while "Test" - ing (make it burst into flames).
2. Switch to another editing state (Explore or Reveal)
3. Switch back to "Test".

The fire images will be close to the corner of the screen. Manipulating the circuit elements on fire will reposition the flames:

![cckbbio03](https://cloud.githubusercontent.com/assets/5863899/22761742/546970e6-ee19-11e6-920d-b78b5c8c2dbb.gif

[2017-02-08 23:45] arouinfar opened #45 "Query Parameter to hide "Show Electrons" checkbox no longer works"
For https://github.com/phetsims/tasks/issues/781.

The query parameter previously used to hide the "Show Electrons" checkbox no longer works. My suspicion is that the addition of the "Labels" checkbox to the panel may be to blame.

Here's the query parameter in question:

?phet-io.expressions=%5B%5B%22circuitConstructionKitBlackBoxStudy.exploreScreen.view.displayOptionsPanel%22,%22setVisible%22,%5

[2017-02-08 23:51] phet-steele commented on #43
Instead of cutting, if you *try* to pull a wire stub around by its vertex (one of the red vertices), then manipulate the stub another way, you kill the sim and get a handful of errors:

https://drive.google.com/file/d/0B3HJopSo_QqLNHZGV1BOZ002Tm8/view?usp=sharing

<img width="535" alt="screen shot 2017-02-08 at 4 36 47 pm" src="https://cloud.githubusercontent.com/assets/5863899/22762803/67c8f756-e

[2017-02-09 03:18] samreid commented on #43
I used this test code:

[code]

with these query parameters `vertexDisplay=index&dev` and revealed that when switching to explore, the wire stubs were being set to be interactive, which enabled the cut button.  Skipping this step for wire stubs seems to solve this problem.

[2017-02-09 03:20] samreid commented on #43
Fixed in the above commits, leaving open for verification in RC.2.

[2017-02-09 14:08] samreid commented on #44
Fixed in the preceding commit and ready for testing in the next rc.

[2017-02-09 14:19] samreid commented on #45
In the above commit, I added 2 query parameters.

`showElectronsCheckBox=false` will hide the electrons checkbox, while leaving the "labels" checkbox

`showControlPanel=false` will hide the entire panel (with both labels and electrons, and eventually more controls to come in the dc version).

Leaving open for verification when rc.2 is ready.

[2017-02-09 14:31] samreid commented on #43
Ready for verification in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.2/circuit-construction-kit-black-box-study_en-phetio.html?phetioStandalone

[2017-02-09 14:32] samreid commented on #44
Ready for verification in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.2/circuit-construction-kit-black-box-study_en-phetio.html?phetioStandalone

[2017-02-09 14:34] samreid commented on #45
Ready for verification in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.2/circuit-construction-kit-black-box-study_en-phetio.html?phetioStandalone&showElectronsCheckBox=false

and

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.2/circuit-construction-kit-black-box-study_en-phetio.html?phe

[2017-02-09 17:12] phet-steele commented on #45
@samreid they work for me, nice work! I'll assign to @arouinfar to check out so she is aware.

[2017-02-09 17:14] arouinfar commented on #45
@samreid looks great, thanks! These new query parameters are much easier to remember too. :)

[2017-02-09 17:14] #45 closed

[2017-02-09 17:22] phet-steele commented on #44
Fixed in rc.2 indeed!

[2017-02-09 17:22] #44 closed

[2017-02-09 17:37] phet-steele commented on #43
Looks fixed to me! https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/43#issuecomment-278501506 was a pretty dire consequence, I'll keep an eye out for it.

[2017-02-09 17:37] #43 closed

[2017-02-09 18:57] phet-steele opened #46 "State is no longer saved when switching between BB challenges"
It is my understanding that state is supposed to be saved.

I have a bunch of objects out in the warm-up, then switch away and back to it and the objects are reset:

![cckbbio06](https://cloud.githubusercontent.com/assets/5863899/22798320/b1c31440-eebe-11e6-8833-686a8096a729.gif)

Seen on macOS 10.12.3 Chrome. For phetsims/tasks#781.

[2017-02-10 18:51] samreid commented on #46
The workaround for https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/36 introduced this problem.

[2017-02-10 20:22] samreid commented on #46
The transparency effect is because the wire is transparent and the solder is behind the wire.

[2017-02-10 20:23] samreid commented on #36
Reopening for phetsims/tasks#781 but as pointed out in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/46 we will need a better solution.

[2017-02-10 20:24] samreid commented on #46
Fixed in the above commit, leaving open until verified in RC.3.

[2017-02-10 21:04] samreid commented on #36
Proposed fix is above.  Fairly significant change, may have disturbed some other aspect of layering.   I may need to redo the entire layering subsystem before this is published on our website.  But maybe this will be good enough for RC.3.

[2017-02-10 22:29] arouinfar commented on #46
When this issue is verified, we should also make sure that the Reset All button only effects the current black box. Given that the states weren't properly saved in rc.2, it was impossible to test the Reset All behavior.

[2017-02-10 23:56] arouinfar commented on #42
@samreid here's what I saw in rc.2. On startup, the solder is properly rendered. After switching to test and back to explore, the solder becomes transparent. Attaching additional wires reveals the a layering problem (wire above solder).

![solder_layering_3](https://cloud.githubusercontent.com/assets/8419308/22848439/a5a1f638-efb1-11e6-8da6-e2b2244ccd84.gif)

[2017-02-14 03:09] jonathanolson opened #47 "Automated testing issues"
Four different possibly-related fuzz issues (didn't see in other CCK-related runnables yet).

[code]

[code]

[code]

[code]

[2017-02-15 18:44] samreid commented on #36
In rc.3 it looks like this on startup or reset:

![image](https://cloud.githubusercontent.com/assets/679486/22989685/0d03bb66-f374-11e6-90d8-2a91e3a89198.png)

When attaching a wire to the black box vertex, I see this:

![image](https://cloud.githubusercontent.com/assets/679486/22989699/1c757012-f374-11e6-8fbc-5b40f50ed2d1.png)

Unexpected and not ideal, but it doesn't seem like a showstopper for

[2017-02-15 18:55] phet-steele commented on #36
@samreid, in rc.3 anything attached to the BB will be layered above the BB at first, but then be layered under it when switching to and back from another challenge.

Before switch:
<img width="675" alt="screen shot 2017-02-15 at 11 53 28 am" src="https://cloud.githubusercontent.com/assets/5863899/22990171/8c01c4c0-f375-11e6-8736-2900724fdd93.png">

After switch:
<img width="646" alt="screen shot 2

[2017-02-15 18:58] phet-steele commented on #36
Going to move the above comment to a new issue.

[2017-02-15 19:02] phet-steele opened #48 "Components are being layered under the BB when switching between challenges"
@samreid, in rc.3 anything attached to the BB will be layered above the BB at first, but then be layered under it when switching to and back from another challenge.

Before switch:
<img width="675" alt="screen shot 2017-02-15 at 11 53 28 am" src="https://cloud.githubusercontent.com/assets/5863899/22990171/8c01c4c0-f375-11e6-8736-2900724fdd93.png">

After switch:
<img width="646" alt="screen shot 2

[2017-02-15 19:09] phet-steele commented on #46
Looks good in rc.3.

It does!

[2017-02-15 19:09] #46 closed

[2017-02-15 20:41] arouinfar opened #49 "Reveal triggers pause"
Found by @phet-steele during https://github.com/phetsims/tasks/issues/781.

In Test mode, pressing Reveal will trigger a paused state.

Consider this example
* Start in Explore in Play mode.
* Switch to Test. Pause is triggered. (Desired behavior.)
* Press play, and then Reveal.
* Reveal kicks the sim back into Pause mode.
![playpausereveal](https://cloud.githubusercontent.com/assets/8419308/22994

[2017-02-16 00:02] EthanWJohnson opened #50 "Components layered under component box when switching between explore/test modes"
Possibly a similar/identical issue to https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/48

@samreid , when switching between the  explore and test modes in the black box screen, components on top of the component box will be layered underneath it.

Before switching;
![image](https://cloud.githubusercontent.com/assets/22551096/23000885/cd6d687c-f39f-11e6-8c8a-bfd085c60eb0

[2017-02-16 20:03] phet-steele commented on #36
https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/36#issuecomment-280100528 also occurs when toggling play/pause (with nothing attached).

[2017-02-17 04:52] samreid commented on #48
Fixed above (except the solder next to the black box is somehow getting in front).  I'll mark this issue as fixed pending testing.

[2017-02-17 04:54] samreid commented on #49
The explanation is that the circuit pauses when it changes, and "reveal" changes the circuit.  I'll need to add separate logic to address this case.

[2017-02-17 04:56] samreid commented on #49
It is also pausing when switching between explore and test, probably for the same reason.  @arouinfar please correct me if I'm wrong but that doesn't seem desirable either.

[2017-02-17 05:06] samreid commented on #49
It is easy enough to keep the circuit running when pressing "reveal" but the same strategy won't work for releasing the "reveal" button or changing modes.

@arouinfar is this critical for Stanford's February usage?

[2017-02-17 05:22] samreid commented on #49
Fixed in the preceding commits, ready for review in next rc.

[2017-02-17 05:32] samreid commented on #50
I have reproduced the problem.  I would like to fix it, but I don't think it is critical for Stanford's February deadline.

[2017-02-17 05:35] samreid commented on #36
@arouinfar is the behavior in rc.3 acceptable for our February deadline?

[2017-02-17 05:43] samreid commented on #48
Ready for testing in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.4/wrappers/index/

[2017-02-17 05:44] samreid commented on #49
Ready for testing in http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.4/wrappers/index/

[2017-02-17 16:51] phet-steele commented on #48
This particular issue is fixed in rc.4, thanks @samreid!

I believe that's being tracked in another issue, so closing.

[2017-02-17 16:51] #48 closed

[2017-02-17 16:53] samreid commented on #41
Roughly, my procedure:

1. Change black box scene model to read:

[code]

2) Change BlackBoxScreenModel.js to start with 'scene9'

3) create the black box. Copy paste into the ChallengeSet.  Delete resistance, replace 0.0001 with resistivity, delete options.  For vertices missing options, add options with attachable false.

[2017-02-17 16:57] samreid commented on #41
I visually reviewed the changes but only tried wiring up a few of them.  Would be good for @arouinfar to test thoroughly after I post the next version.

[2017-02-17 17:07] samreid commented on #41
@arouinfar this version contains the new 5 black boxes, can you please test them?

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.5/wrappers/index/

[2017-02-17 17:39] phet-steele commented on #41
Challenge 11 is mostly fine, there's a slight protrusion of the resistor on the leftmost vertex:
<img width="573" alt="screen shot 2017-02-17 at 10 32 37 am" src="https://cloud.githubusercontent.com/assets/5863899/23076205/a900dcea-f4fc-11e6-97fe-2286ae5af727.png">

Challenge 12 has the same small issue as 11, but also a label that pokes through the top:
<img width="675" alt="screen shot 2017-02-1

[2017-02-17 17:44] samreid commented on #41
Thanks @phet-steele, I'll try again.

[2017-02-17 17:56] arouinfar commented on #41
Thanks for your careful review @phet-steele.

I think the missing solder in black boxes 13 and 14 is a bit problematic. Perhaps we can attach a short wire stub to the inside of the black box to create the the solder joint at the edge of the box?

[2017-02-17 17:56] samreid commented on #41
I'm planning on adding internal struts on all of the vertices.  It will make the topology look more complicated but it will behave the same.  For instance, Black Box 12 will be:
![image](https://cloud.githubusercontent.com/assets/679486/23076962/c5b68e86-f4ff-11e6-94b3-b2fd671fbf34.png)

@arouinfar is that OK?

[2017-02-17 18:02] arouinfar commented on #41
I think the internal struts will be fine @samreid, though for Black Box 12, those should be 40 ohm resistors. :)

[2017-02-17 18:02] samreid commented on #41
Got it, thanks!

[2017-02-17 18:11] samreid commented on #41
@arouinfar are these resistor bands correct?

![image](https://cloud.githubusercontent.com/assets/679486/23077461/daee6b32-f501-11e6-8712-0dc54c7d41f7.png)

[2017-02-17 18:14] arouinfar commented on #41
@samreid the picture shows a 25 ohm resistor connecting the left and right terminals, but the text specified 10 ohms. I'm not sure which Shima prefers. I'll follow up with her now.

[2017-02-17 18:16] kathy-phet commented on #36
Sam - The layering issue shown in r3 where the circuit elements end up behind the black box seems problematic for an actual classroom use.

[2017-02-17 18:18] arouinfar commented on #36
@kathy-phet that particular layering issue is not present in rc.4.

[2017-02-17 18:19] samreid commented on #41
Thanks @arouinfar.  I published RC6 with fixes for the problems @phet-steele found, and I'm using the 10 Ohms from the text.  Changing values are easy, please test and let me know.

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.6/wrappers/index/

[2017-02-17 18:20] arouinfar commented on #41
Thanks @samreid. I'll let you know as soon as I hear back from Shima.

[2017-02-17 18:22] kathy-phet commented on #36
Oh - I see I thought Sam was talking about rc.3. I see now its rc.4.

[2017-02-17 18:26] arouinfar commented on #41
The black boxes in rc.6 are functionally the same as those initially provided in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/41#issuecomment-278480010. I'll leave this self-assigned until I receive confirmation of the desired resistance in Black Box 11.

[2017-02-17 18:27] arouinfar commented on #41
The internal struts have also fixed all instances of black box components peeking through.

[2017-02-17 18:31] arouinfar commented on #42
@samreid in rc.6 the solder no longer becomes transparent. However, wires attached to any of the black box or wire stub vertices will be incorrectly layered on top. This is not a blocking issue for Stanford, so no need to address it until after we deliver a version to them.

[2017-02-17 18:33] arouinfar commented on #36
@samreid I haven't found any issues with the solder rendering on startup, or the re-layering described in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/36#issuecomment-280100528 in rc.4.

[2017-02-17 18:33] #36 closed

[2017-02-17 18:37] arouinfar commented on #50
@samreid I would agree this is not critical for Stanford's study.

[2017-02-17 18:42] arouinfar commented on #49
Looks great @samreid! The behavior feels much more natural now.

[2017-02-17 18:42] #49 closed

[2017-02-17 19:08] arouinfar commented on #41
Shima replied:

@samreid can you update the 10 ohm resistor in Black Box 11 to 25 ohms?

[2017-02-17 19:22] samreid commented on #41
Brace yourself for RC.7

[2017-02-17 19:26] samreid commented on #41
RC.7 is here: http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.7/wrappers/index/

@arouinfar can you please see if there's anything else to do before promoting this to a production release and sharing it with Shima?

[2017-02-17 19:27] samreid commented on #40
After a few RC's the new SHAs are looking much more solid than old shas, thanks @phet-steele and @arouinfar, closing.

[2017-02-17 19:27] #40 closed

[2017-02-17 20:06] arouinfar commented on #41
@samreid rc.7 has been running smoothly for me, and I haven't run into any further issues. Please go ahead and publish the production version.

[2017-02-17 20:28] samreid commented on #41
@arouinfar I created a production version here:
https://phet-io.colorado.edu/sims/circuit-construction-kit-black-box-study/1.1.0-phetio/wrappers/index/

I also changed an internal variable name in the black box screen, if you could spend a few minutes spot testing it on one platform it would be great.  After that, can you please share the link to our contacts?  As you did before, please include th

[2017-02-17 20:29] samreid commented on #41
It may be good to double-check that point, or at least make sure they are aware of it and would hence alert us if there is a problem.

[2017-02-21 20:45] arouinfar commented on #41
@samreid the link you provided in https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/41#issuecomment-280757880 looks like it's only good for testing. Have you created a version for data collection? I previously sent Shima a link that looked something like this:

https://phet-io.colorado.edu/sims/circuit-construction-kit-black-box-study/1.0.4-phetio/wrappers/login/login.htm

[2017-02-21 21:14] arouinfar commented on #41
@samreid it would also be helpful to know what ID's they should use with the data collection version. I previously instructed them to:

cck16001a
cck16002b
...
cck16026z
cck16027a
cck16028b
etc.

Is this still correct?

[2017-02-21 22:59] samreid commented on #41
@zepumph confirmed this will be the first time we are using learner_token with a 3rd party.  @zepumph and I tried logging some sample data in https://github.com/phetsims/phet-io/issues/1048 and will report back after it is complete.  If that works, we will be able to share that URL to Engin.

[2017-02-22 14:31] samreid commented on #41
The data collection and playback seemed to work well, but with the same widget_id, I was receiving 4.7GB of data.  Hence I've changed the widget-id so these results don't combine with the previous results.  @arouinfar please request Engin to perform a test with this link (1-2 minutes of recording), then to let us know when it's done and we can make sure he can access the data OK.

https://phet-io.

[2017-02-22 18:23] arouinfar commented on #41
The latest version has been delivered to Stanford, so I think we can go ahead and close this issue. We can track data recording issues in https://github.com/phetsims/phet-io/issues/1048.

[2017-02-22 18:23] #41 closed

[2017-02-24 17:57] kathy-phet commented on #25
Well - we need to send an updated link with the brightness issue fixed.

[2017-02-24 17:59] samreid commented on #25
Sounds good, thanks @kathy-phet.  I'll reassign to myself and put this issue on hold until https://github.com/phetsims/circuit-construction-kit-dc/issues/16 is addressed.

[2017-02-28 01:08] samreid commented on #32
I shared a new version, closing.

[2017-02-28 01:08] #32 closed

[2017-02-28 01:08] samreid commented on #25
I published a new version with the fixed lightbulb brightness, closing.

[2017-02-28 01:08] #25 closed

[2017-03-01 18:13] samreid commented on #50
Unassigning for now, will resume work when we start on our production black box sim.

[2017-03-01 18:46] samreid commented on #47
@phet-steele are you seeing problems like these?

[2017-03-01 19:06] jonathanolson commented on #47
See https://bayes.colorado.edu/continuous-testing/aqua/html/continuous-report.html (bypass certificate error for now, no credentials are required). CCK varieties are fairly regularly failing fuzzing.

[2017-03-01 19:20] phet-steele commented on #47
What @jonathanolson said, yes I still occasionally see these errors.

[2017-03-01 19:39] samreid opened #51 "Vertex pulling adjacent to fixed vertex"
See https://github.com/phetsims/circuit-construction-kit-common/issues/254

![cckbbio09](https://cloud.githubusercontent.com/assets/5863899/22992340/a91bc5a4-f37c-11e6-8cda-e9c9005acbc9.gif)

Unassigned until we start working on BBS for production.

[2017-03-01 19:40] samreid commented on #47
Unassigning until we start working on this sim for production.

[2017-03-01 19:41] samreid commented on #42
Unassigning until we start working on this sim for production.

[2017-03-01 19:41] samreid commented on #23
Unassigning until we start working on this sim for production.

[2017-03-06 23:53] samreid opened #52 "Add new black box 16"
Shima said:

Dear Amy and Sam,

Can we ask to have another cck-bb activity to be added to the activity deck.
It is a three-terminal activity with one 10.00 v battery connecting top and left (the screenshot of the activity is attached).

Thanks so much,
Shima

![image](https://cloud.githubusercontent.com/assets/679486/23635478/5640e628-028d-11e7-91dd-d58f7696d18b.png)

A reminder to add adapter cir

[2017-03-07 00:06] samreid commented on #52
Argenta said:

Yes, that's soon enough. Sorry we didn't give you a time frame initially!

We'd like to use this new box the second time we have students use the activity, as a variation on boxes 1 and 3, which they'll seen the fist time. We can use the current set of black boxes for their first use. We'll be doing a black box activity for the first time on Friday March 10, then the second time 1-2

[2017-03-15 18:24] samreid commented on #52
I'd better get started on this.

[2017-03-15 19:13] samreid commented on #52
Added in the maintenance branch in the above commit and it looks like this:
![image](https://cloud.githubusercontent.com/assets/679486/23966481/1dd8e272-0981-11e7-9b4e-af4a87bc83fd.png)

[2017-03-15 19:13] samreid commented on #52
I think my battery is backwards.

[2017-03-15 19:14] samreid commented on #52
After swapping vertices:

![image](https://cloud.githubusercontent.com/assets/679486/23966533/5113551e-0981-11e7-978b-421325854514.png)

[2017-03-15 19:23] samreid commented on #52
New version published here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.2-phetio/circuit-construction-kit-black-box-study_en-phetio.html?phetioStandalone

@arouinfar would you like to take a look before we share it to Argenta?

[2017-03-15 22:03] arouinfar commented on #52
Looks good @samreid.

[2017-03-15 23:09] samreid commented on #52
I emailed:

Sam

[2017-03-15 23:09] arouinfar commented on #52
Thanks @samreid!

[2017-03-16 02:51] samreid commented on #52
On hold until verified with Argenta.

[2017-03-16 05:05] jonathanolson commented on #47
More (different) failures:
[code]

Hopefully any phet-io deployed version isn't failing fuzz testing?

[2017-03-16 18:19] samreid commented on #52
Argenta pointed out the directory was still password protected, I removed the password protection, updated partners.md and replied.  Closing.

[2017-03-16 18:19] #52 closed

[2017-04-06 03:31] jonathanolson opened #53 "No 1.1 branch"
There's a production version ('phet' brand) available at http://phet.colorado.edu/sims/html/circuit-construction-kit-black-box-study/1.1.2/circuit-construction-kit-black-box-study_en.html, and it's in on the website. Thus customarily, there should be an equivalent maintenance-release branch.

1.1 doesn't exist (there's a phet-io branch however??)

Will need to manually maintenance release as part

[2017-04-06 04:39] samreid commented on #53
I think it was an accidental "deployed without --brand=phet-io" and we decided it was harmless since it wasn't visible on the website.  Black Box Study (phet brand) isn't meant to be on the website, perhaps we should delete it?

[2017-04-06 05:22] jonathanolson commented on #53
@samreid, would this ever be deployed on the main website, or tracked with Yotta statistics? Deleting and then re-adding later will require special handling in Yotta (as it would have two simulation IDs for the same simulation).

@mattpen, if we decide to, what would be the order that things need to be removed in, and is it safe to remove a simulation? Would we delete it on the DB side first, then

[2017-04-06 15:14] samreid commented on #53
I don't recall if @kathy-phet wants to track Stanford's usage for their data-driven study or not, I have a vague recollection that she said the numbers may be too small to worry about.  When published on our website in the next few years, it will likely not have the "study" suffix.

[2017-04-06 15:26] kathy-phet commented on #53
This version can be removed from the production server as far as I am concerned. And no statistics are needed to be collected on this version - as Sam said it is small usage.

When we deploy a public version of Black Box, it will not have "study" in the name, so I think within Yotta we will not get confused. It would likely have a name like circuit-construction-kit-black-box, or circuit-constructi

[2017-04-06 18:10] jonathanolson commented on #53
Removed the CCK black box files from the phet.colorado.edu website. Some foreign key constraint issues removing from the DB, assigning @mattpen for that.

[2017-04-06 19:49] mattpen commented on #53
The database entries for CCK Black Box Study have all been removed.

[2017-04-07 15:38] mattpen commented on #53
@jonathanolson - Is it ok to close this issue now?

[2017-04-07 16:19] jonathanolson commented on #53
Yup, thanks!

[2017-04-07 16:19] #53 closed

[2017-04-24 21:36] samreid opened #54 "Solder on a vertex with no connections"
From https://github.com/phetsims/circuit-construction-kit-common/issues/176

From the newly implemented #163, black box external vertices in Investigate mode show as black and with solder when cutting a connection. Switching build modes remedies the problem:

![cckbbs01](https://cloud.githubusercontent.com/assets/5863899/16810309/a797abc2-48e0-11e6-8993-1eae4d3a71f7.gif)

Seen on Win 10 Chrome. Fo

[2017-04-24 21:36] samreid commented on #54
@samreid this is what I see in rc.3. Granted it is slightly different since the left over vertex is red instead of black. The procedure is still the same and shows solder on a vertex with no connections.
![cckbbio10](https://cloud.githubusercontent.com/assets/5863899/22999477/dd99b982-f398-11e6-87be-75904002746d.gif)

[2017-05-10 16:22] samreid opened #55 "Unify implementations in Circuit.clear"
Current code is
[code]

[2017-05-11 03:44] samreid opened #56 "New strategy for showing values"
Black Box Study used this way of showing values (in FixedLengthCircuitElementNode.js)

[code]

This should be replaced by the new "ValueNode" that was developed for CCK DC.

[2017-05-24 02:32] samreid opened #57 "In the black box screen, reset all doesn't reset the selected black box"
From https://github.com/phetsims/circuit-construction-kit-common/issues/123

@samreid said

@arouinfar said:

[2017-05-24 02:39] samreid opened #58 "Can we gray out investigate wires that are inside the black box and vice versa?"
Please see https://github.com/phetsims/circuit-construction-kit-common/issues/107 for full details

[2017-05-25 04:49] arouinfar commented on #57
@samreid I think `ResetAllButton` should have a uniform behavior across all sims, so it should reset ALL black boxes. We could add a separate reset button that would affect only the current black box.

[2017-06-06 23:41] arouinfar opened #59 "Suggestion: Model CCK: Black Box after Function Builder's Mystery screen"
Logging this suggestion from @kathy-phet here, because there isn't (yet) a repo for a aCCK: Black Box.

I with the black box sim -- down the road -- Argenta had a thought based on talking with the teachers she has been working with.
They like the idea of the black box, but find the design of having just one or two simple black boxes limiting and would like to have it be something that students can

[2017-06-07 17:45] arouinfar commented on #59
In Function Builder, a student can choose to have one, two, or three mystery functions. The refresh button below the function machine will swap out the functions. After three cards have been sent through the machine, the reveal buttons become active.
<img width="630" alt="screen shot 2017-06-07 at 11 23 52 am" src="https://user-images.githubusercontent.com/8419308/26891904-daf31df8-4b73-11e7-90e1-

[2017-06-14 19:04] pixelzoom opened #60 "problems with README.md"
Same problems as https://github.com/phetsims/circuit-construction-kit-dc/issues/51.

[2017-06-23 04:01] samreid commented on #60
Fixed in the preceding commit, @pixelzoom want to take a look?

[2017-06-23 18:14] #60 closed

[2017-09-18 23:24] samreid opened #61 "Change prefixes from BlackBox to CCKBB"
From https://github.com/phetsims/circuit-construction-kit-common/issues/404

[2017-09-19 15:34] samreid opened #62 "Broken in master for several months"
This sim has been broken in master for several months as we pushed to get CCK DC ready for publication.  @ariel-phet can you please help prioritize and schedule cleanup for the Black Box?  I'd guess several days to get it working in master again, plus more time to go through open issues and address them.  May be best to do after we have stable shas for CCK so we don't slow down its release.

[2017-09-19 15:34] samreid commented on #62
Note also https://github.com/phetsims/axon/issues/140#issuecomment-330317752 is broken for Black Box Study.

[2017-09-19 16:29] ariel-phet commented on #62
@samreid I think https://github.com/phetsims/axon/issues/140#issuecomment-330317752 should be fixed sooner than later if that can be done separately from fixing the entire black box sim.

I also wonder if we should rename this repo simply to "black-box" as the suffix instead of "black-box-study" since I believe Kathy is interested in actually producing a published black-box. Or perhaps we need a s

[2017-09-19 16:31] samreid commented on #62
https://github.com/phetsims/axon/issues/140#issuecomment-330317752 is fixed for Circuit Construction Kit: DC and Circuit Construction Kit: DC - Virtual Lab.  It cannot be tested for Circuit Construction Kit Black Box Study because it is not currently launchable.  So we would need to get Circuit Construction Kit Black Box Study running again before we can work on the axon issue (or even determine i

[2017-09-19 16:38] ariel-phet commented on #62
@samreid I thought that might be the case (that to fix that issue the sim would need to be running).

Let's continue to keep the focus on getting CCK out. Certainly you could begin some clean up of Black Box while CCK is currently in dev testing, with the priority to be cleaning up Black Box enough to get it launchable.

[2017-09-19 16:56] samreid commented on #62
Sounds good, I'll put this on my to-do list, though if I run into issues that require non-trivial changes to the CCK common repo, I'll want to wait until we have safe shas.

[2017-09-19 19:37] samreid commented on #61
This sim is on hold until we get it running again, discussed in #62

[2017-09-20 15:44] samreid commented on #62
After that commit, screen 1 is working again.

[2017-09-28 16:59] samreid commented on #62
@kathy-phet said this is low priority.  We have a stable version we can use and shouldn't work on this further without discussion.

[2017-10-11 04:58] phet-steele commented on #47
Bayes hasn't been reporting any of these for a long while, probably thanks to the cleanup in #62. Thanks @samreid.

[2017-10-11 04:58] #47 closed

[2017-10-11 16:27] phet-steele opened #63 "Revealing or switching between investigate and build brings all solder to the top layer"
Copied from https://github.com/phetsims/circuit-construction-kit-common/issues/164

Revealing or switching between investigate and build brings all solder to the top layer (except any solder in investigate mode apparently).

Before reveal:
<img width="695" alt="screen shot 2017-02-15 at 2 26 18 pm" src="https://cloud.githubusercontent.com/assets/5863899/22996135/f1e08028-f38a-11e6-843c-6004a382cb7

[2017-11-01 21:16] arouinfar opened #64 "Publish new version for Stanford"
Shima is preparing to start a new round of data collection and wrote to me asking

Right now for the prototyping I am using this version:
https://phet-io.colorado.edu/sims/circuit-construction-kit-black-box-study/1.1.0-phetio/circuit-construction-kit-black-box-study_en-phetio.html?phetioStandalone&phetioLog=lines
However this is the one without the backend data collection, can you remind what is t

[2017-11-01 21:51] zepumph commented on #64
I will need to test the dev library Marcus sent over in https://github.com/phetsims/phet-io/issues/1245 before updating this link. I will pump that priority and put this on hold.

[2017-11-01 21:52] arouinfar commented on #64
Sounds good @zepumph. I will let you know the timeline as soon as I hear back from Stanford.

[2017-11-07 21:18] arouinfar commented on #64
@zepumph heard back from Stanford, and they would like to start data collection November 20. Is this a reasonable timeline?

[2017-11-08 20:23] zepumph commented on #64
Yes I think that this will be enough time. I'll reach out to Marcus about publishing this dev link soon. Then I will spend next week making sure that that the specific links needed are working as expected.

[2017-11-11 01:07] zepumph commented on #64
I sent out a few bugs to Metacog and hope to hear back from them early next week. I have also been reaching out to Shima to make sure that we are all on the same page about the expectations of the study to come.

[2017-11-16 01:04] zepumph commented on #64
We are ready to use https://cdn.metacog.com/metacog-3.4.11.min.js in the next maintenance release of CCK BBS for Shima.

[2017-11-16 02:21] zepumph commented on #64
Testing from master:
http://localhost/phet-io/wrappers/login/login.html?sim=circuit-construction-kit-black-box-study&phetioValidateTandems=false&publisher_id=5d4c8ae1&key_name=key1&wrapper=record&validationRule=validateDigits&numberOfDigits=8&metacog&widget_id=CCK-BBS-test

[2017-11-16 02:37] zepumph commented on #64
Testing from rc deploy:
https://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.3-phetiorc.1/wrappers/login/login.html?wrapper=record&metacog&publisher_id=29da48a1&key_name=stanford_record_circuit-construction-kit-black-box-study&widget_id=record-circuit-construction-kit-black-box-study-1.1-test&relativeSimPath&validationRule=crossCheckID&validationPrefix=cck16

[2017-11-16 06:22] zepumph commented on #64
I ended up publishing the version on the production server, and made it public. This way we don't have to deal with passwords. Here is my email to Shima. I'll update partners.md

[code]

[2017-11-16 06:26] zepumph commented on #64
Next I need to make up a few questions to send her to ask about browser and computer.

[2017-11-17 00:13] zepumph commented on #64
I sent those off too. From here I will support her as she needs. Reducing priority.

[2017-11-23 00:27] zepumph commented on #64
Closing this. We will create new issues as needed.

[2017-11-23 00:28] #64 closed

[2017-11-28 17:27] zepumph opened #65 "Assess damage from accidental publish to phet.colorado.edu"
Last night I was trying to publish CCK BBS 1.1.4 to `phet-io.colorado.edu` but accidentally left out the `--brand=phet-io`. @mattpen what needs to be done with the copy on `phet.colorado.edu`?  It isn't public (except that the index directories are).

[2017-11-28 17:32] mattpen commented on #65
In addition to the documents being published at https://phet.colorado.edu/sims/html/circuit-construction-kit-black-box-study/1.1.4/, there is also an entry for the sim in the database and the sim is available in rosetta.

I can remove the files from the server and purge the database entry.  I think there is a file in rosetta that may need to be changed as well.

[2017-11-28 17:34] mattpen commented on #65
We'll need to purge the entry from https://github.com/phetsims/rosetta/blob/master/data/simInfoArray.json as well.  @jbphet - Do you think it will be ok to just manually delete it and push the update?  Would we need to restart rosetta afterwards?

[2017-11-28 17:42] mattpen commented on #65
The sim files and DB entry have been removed.

[2017-11-28 18:09] jbphet commented on #65
I manually removed this sim from the `simInfoArray` file, which is where rosetta gets the list of active simulations.  The then verified that this removes CCK Black Box Study from the list of translatable simulations.

I checked rosetta's log, and it looks like some translators messed around with this simulation, but none of them submitted a translation, so I don't need to remove anything from Bab

[2017-11-28 18:15] mattpen commented on #65
Thanks @jbphet.  I believe the build-server updates the simInfoArray, so we should be ok unless there is another accidental publication.

[2017-11-28 18:15] #65 closed

[2017-11-28 18:21] zepumph commented on #65
Thank you both for picking up my slack!

[2018-06-12 00:01] JRomero0613 opened #66 "[1.0.10-rc.1-phetio] State Wrapper doesn't transmit properly"
Test Device: PC Laptop

OS: Windows 10 v. 1803

Browser: Google Chrome v. 67.0.3396.79

Problem description: For https://github.com/phetsims/QA/issues/128 when using the state wrapper with CCKBBS v. 1.0.10-rc.1 (found here https://github.com/phetsims/phet-io/issues/1329#issue-329557833) the copied smaller sim does not show any construction pieces including the battery, wire, resistor, or bulb. Eve

[2018-06-12 15:37] lmulhall-phet commented on #66
In the console when I drag a wire into the play area:

[code]

[2018-06-12 16:30] JRomero0613 commented on #66
This same bug occurs in version 1.1.6-rc.1 with this error in the console:
[code]

[2018-06-13 19:30] lmulhall-phet opened #67 "[1.0.10-rc.1] TypeError: Cannot read property 'branch' of null"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.13.5

<b>Browser</b>

Google Chrome 67.0.3396.79

<b>Problem Description</b>

For phetsims/QA/issues/128. Found in https://phet-dev.colorado.edu/html/circuit-construction-kit-black-box-study/1.0.10-rc.1/circuit-construction-kit-black-box-study_en-phetio.html?phet-io.standalone. I connected multiple wires, the sim became uninteracta

[2018-06-13 19:58] lmulhall-phet opened #68 "[1.0.10-rc.1] [1.1.6-rc.1] battery not returning to carousel"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.13.5

<b>Browser</b>

Google Chrome 67.0.3396.87

<b>Problem Description</b>

If you click on a battery (not fire on hold, just click), the battery won't return to the carousel. Your click shouldn't be too quick. The battery has the yellow outline. Also, it's difficult to put the battery back in the carousel.

Tested Version 1: htt

[2018-06-13 22:23] zepumph commented on #68
This is master for phet-io, but I don't think this sim works on master right now. http://localhost/circuit-construction-kit-black-box-study/circuit-construction-kit-black-box-study_en.html?brand=phet-io&ea&phetioStandalone&phetioValidateTandems=false

@lmulhall-phet I wasn't quite clear about if this bug is in the previous published version too?

In general if the bug is in the previous published

[2018-06-14 14:38] lmulhall-phet commented on #68
@zepumph, the bug is **not** in the prior delivered version linked in the issue. I put the prior version link in there because we're supposed to be testing against the prior delivered version, and it makes things slightly more convenient if I want to go back and look at it for this issue.

[2018-06-14 16:48] zepumph commented on #67
@lmulhall-phet please reassign if you find it reproducible in this version but not in the previous version.

[2018-06-28 18:39] zepumph commented on #66
Assigning @samreid as lead dev on this sim, but we will not be fixing this for this maintenance release.

[2018-06-28 18:40] zepumph commented on #67
Pinging @lmulhall-phet to make sure this bug wasn't introduced in this RC.

[2018-06-28 18:49] lmulhall-phet commented on #67
@zepumph, I haven't been able to reproduce, so I can't say.

I'm fuzzing now, and I'll try to recreate the exact conditions for the bug later today.

[2018-06-28 20:40] zepumph commented on #67
The fact that it is so difficult to reproduce makes me feel like this is outside the scope of fixing for this maintenance release, let me know if you think otherwise.

[2018-06-28 20:58] lmulhall-phet commented on #67
@zepumph, I agree.

[2018-07-06 05:11] samreid commented on #66
Unassigning until we resume work on this simulation.

[2018-08-15 17:35] zepumph commented on #68
unassigning until further work on cckbbs

[2019-01-23 23:59] KatieWoe opened #69 "CT running lint-all task"
[code]

[2019-01-24 03:48] pixelzoom commented on #69
Fixed, closing.

[2019-01-24 03:48] #69 closed

[2019-02-08 23:50] KatieWoe opened #70 "CT CircuitConstructionKitModel cannot be invoked"
[code]

[2019-02-10 04:40] samreid commented on #70
I got CCK BBS working in master, and it is now clear on CT.  Closing.

[2019-02-10 04:40] #70 closed

[2019-10-21 16:49] KatieWoe opened #71 "CT should not be called if disposed"
[code]

[2019-10-25 21:14] KatieWoe opened #81 "Batteries teleport to center of the blackbox screen"
Found during maintenance testing, but unrelated to those releases seemingly.  Sometimes, when clicking on objects in the tool box they will jump into/around the center box even though they were not dragged anywhere and would normally go back into the toolbox.
This is not terribly consistent, but these steps can be helpful in reproduction:
1. Be in the Test scene
2. Have a few things, like batterie

[2019-10-28 16:18] KatieWoe commented on #71
Some others that may be related:
[code]

[2020-01-15 15:38] KatieWoe opened #72 "CT this.tandem.getConcretePhetioID is not a function"
[code]

[2020-03-02 20:28] KatieWoe commented on #62
Visual example:
![blackboxwrong](https://user-images.githubusercontent.com/41024075/75714830-a5ca6080-5c89-11ea-9efe-3ec3d12b180e.png)

[2020-06-17 17:12] pixelzoom opened #73 "listParent is added before ComboBox"
Noted while working on https://github.com/phetsims/states-of-matter/issues/293, looking at example uses of ComboBox.

In BlackBoxSceneView.js:

[code]

`listParent` needs to be added after `sceneSelectionComboBox`, so that the popup listbox is on top.

[2020-07-06 16:02] samreid commented on #73
Fix committed, @pixelzoom would you like to review?

[2020-07-06 16:03] pixelzoom commented on #73
👍 closing

[2020-07-06 16:03] #73 closed

[2020-07-29 14:52] KatieWoe opened #74 "CT Cannot add a listener to a disposed TinyEmitter"
[code]

[2020-08-04 16:55] samreid commented on #74
I pushed a fix for this in https://github.com/phetsims/circuit-construction-kit-common/commit/cc9289d1140698e11acff356a8d4e73f6e255e68

[2020-08-04 16:55] #74 closed

[2020-11-09 16:08] KatieWoe opened #75 "CT spacing must be a finite number"
[code]

[2020-11-24 05:24] samreid commented on #75
This has been clear for the last several columns, closing.

[2020-11-24 05:24] #75 closed

[2021-03-11 21:00] pixelzoom opened #76 "Assertion failed: tandem name should be view"
I hit this when I was testing all sims in aqua for another GitHub issue.  Not sure why it's not showing up in CT.

It looks like BlackBoxSceneView extends CCKCScreenView.  Besides the tandem error, that seems like a decision to reconsider.

[code]

[2021-03-12 14:28] samreid commented on #76
Fixed, thanks!  Closing.

[2021-03-12 16:55] pixelzoom commented on #76
Reopening.  That's a workaround, not a fix.   And it ignores the root problem.  If ScreenView is intended to be used as a top-level component (which is my understanding, and another sim-specific problem here), then the 'view' tandem requirement and assertion failure makes sense. If it OK to use ScreenView as a subcomponent (which is how you've used it), then 'view' tandem name should be the defaul

[2021-03-12 17:02] samreid commented on #76
I agree that proposed solution was a workaround.  A good long-term solution should be scheduled when we reinvest effort in this sim.

[2021-03-12 17:27] pixelzoom commented on #76
Here are a few reasons why using ScreenView anywhere other than top-level is a bad idea, and why this should be addressed before publishing.

* ScreenView is clearly documented as "the view portion of the Screen".  It's not "a view portion", it is "the view portion". We expect there to be one per screen.

* ScreenView doc indicates how it's used by PDOM. Again, there is expected to be one ScreenVi

[2021-03-18 17:42] KatieWoe commented on #76
Showing up now in CT:
[code]

[2021-04-05 17:48] samreid commented on #76
Fixed, closing

[2021-04-05 17:48] #76 closed

[2022-06-10 15:14] liam-mulhall commented on #67
Un-assigning myself since I no longer work on QA.

[2022-09-09 19:37] KatieWoe commented on #71
Not seeing this right now. Closing for https://github.com/phetsims/qa/issues/832

[2022-09-09 19:37] #71 closed

[2022-09-09 22:14] KatieWoe commented on #72
Not seeing this in CT now. Closing

[2022-09-09 22:14] #72 closed